<div id="shell-header" class="shell-header" data-bind="with: $root.header">
  <div class="sh-masthead">
    <div class="sh-mh-left">
      <ul class="sh-mh-list left">
        <li class="sh-mh-item">
          <a class="sh-mh-link sh-mh-link-brand" href="#" data-bind="draggable: true">Brand</a>
        </li>
        <li class="sh-mh-item">
          <a class="sh-mh-link sh-mh-link-title" href="#" data-bind="text: title"></a>
        </li>
      </ul>
    </div>
    <div class="sh-mh-right">
      <ul class="sh-mh-list right">
        <li class="sh-mh-item">
          <a class="sh-mh-link sh-mh-link-region" data-bind="text: region">REGION</a>
        </li>
      </ul>
    </div>
  </div>

  <div data-bind="allowBindings: false">
    <div id="dispatcher">
      <div class="sh-commandbar" data-bind="with: commandBar">
        <div class="sh-cmdbar-left">
          <div class="sh-cmdbar-btn-bar">
            <ul class="sh-cmdbar-btn-list left">
              <li class="sh-cmdbar-item">
                <input class="sh-cmdbar-datepicker sh-cmdbar-dp-start" type="text"
                       data-bind="value: formattedStartDate, datepicker: true">
                <span></span>
              </li>
              <li class="sh-cmdbar-item">
                <input class="sh-cmdbar-datepicker sh-cmdbar-dp-end" type="text"
                       data-bind="value: formattedEndDate, datepicker: true">
              </li>
              <li class="sh-cmdbar-item">
                <select data-bind="selectMenu: { options: allShippingLocations, optionsCaption: 'Supply Locations', selectedOptions: shippingLocations }" multiple="multiple"></select>
              </li>
              <li class="sh-cmdbar-item">
                <select data-bind="selectMenu: { options: allReceivingLocations, optionsCaption: 'Demand Locations', selectedOptions: receivingLocations }" multiple="multiple"></select>
              </li>
            </ul>
            <ul class="sh-cmdbar-filter-list" data-bind="foreach: availabilities">
              <li>
                <a class="button sh-cmdbar-filter-btn"
                   data-bind="text: name.charAt(0), attr: { title: tooltip }, click: $parent.selectAvailability, css: { active: selected() }"></a>
              </li>
            </ul>
            <ul class="sh-cmdbar-btn-list left">
              <li class="sh-cmdbar-item">
                <a class="sh-cmdbar-search-btn" href="#" data-bind="click: search">Search<span></span></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="sh-cmdbar-right">
          <div class="sh-cmdbar-btn-bar">
            <ul class="sh-cmdbar-btn-list right">
              <li class="sh-cmdbar-item">
                <span class="sh-cmdbar-status" data-bind="text: $parent.lastSaved"></span>
              </li>
              <li class="sh-cmdbar-item">
                <a class="sh-cmdbar-save-btn" href="#"
                    data-bind="click: function () { if ($parent.hasChanges()) { return $parent.save($parent) } }, css: { disabled: !$parent.hasChanges() }">
                  <span>Save</span><span data-bind="visible: $parent.lastSaved && !$parent.hasChanges()"><span>d</span><span data-bind="visible: $parent.lastSaved" class="check"></span></span>
                </a>
              </li>
              <li class="sh-cmdbar-item">
                <a class="sh-cmdbar-btn" href="#" data-bind="click: $parent.discard">Discard
                  Changes</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="shell-main">
        <div class="shell-main-container dispatcher">
          <div class="row">
            <div class="small-6 columns">
              <div class="dispatchable-supply-panel">
                <div class="panel-header">
                  <div class="panel-header-title">
                    <h2>SUPPLY</h2>
                  </div>
                  <div class="panel-header-stats" data-bind="visible: supplyChanges() > 0">
                    <h2 data-bind="counterAnim: supplyChanges"></h2>
                    <h4>Unsaved Change<span data-bind="visible: supplyChanges() > 1">s</span></h4>
                  </div>
                </div>
                <div class="panel-container">
                  <table class="dispatchables" data-bind="table: { scrollable: false }, with: supply">
                    <thead>
                    <tr>
                      <th></th>
                      <th class="dispatchable-context"></th>
                      <th class="dispatchable-type"
                          data-bind="text: tableMap().type.name, attr: { title: tableMap().type.name, key: 'type'  }"></th>
                      <th data-bind="text: tableMap().shippingDateTime.name, attr: { title: tableMap().shippingDateTime.name, key: 'shippingDateTime'  }"></th>
                      <th data-bind="text: tableMap().location.name, attr: { title: tableMap().location.name, key: 'location'  }"></th>
                      <th data-bind="text: tableMap().lt.name, attr: { title: tableMap().lt.name, key: 'lt'  }"></th>
                      <th data-bind="text: tableMap().weight.name, attr: { title: tableMap().weight.name, key: 'weight'  }"></th>
                      <th class="dispatchable-type"></th>
                      <th class="dispatchable-type"></th>
                      <th class="dispatchable-state"></th>
                    </tr>
                    </thead>
                    <tbody data-bind="contextMenu: true, foreach: { data: data }">
                    <tr data-bind="css: { active: $parent.isSelected($data), modified: isModified, deleted: isDeleted }">
                      <td data-bind="css: { 'pulse-led pulse-led-altered-left': isModified, 'pulse-led-selected-left': $parent.isSelected($data) && isModified() }"></td>
                      <td class="dispatchable-context"
                          data-bind="click: $root.initContextMenu">
                        <i class="dispatchable-context-menu has-context" data-bind="visible: hasContextChoices"></i>
                      </td>
                      <td class="dispatchable-type">
                        <i data-bind="css: dispatchableType, attr: { title: availability.displayName }"></i>
                      </td>
                      <td data-bind="text: formattedShippingDateTime, attr: { title: formattedShippingDateTime }"></td>
                      <td data-bind="text: shippingLocation.name, attr: { title: shippingLocation.name }"></td>
                      <td data-bind="text: id, attr: { title: id }"></td>
                      <td data-bind="text: weight, attr: { title: weight }"></td>
                      <td class="dispatchable-state">
                        <i data-bind="attr: { title: details }" class="dispatchable-details has-tip" ></i>
                      </td>
                      <td class="dispatchable-state">
                        <i data-bind="attr: { title: comment, 'data-tooltip': hasComment()?'':null, 'aria-haspopup': hasComment() }, css: {'has-tip': hasComment() }"
                           class="dispatchable-note"></i>
                      </td>
                      <td class="dispatchable-state"
                          data-bind="css: { 'pulse-led pulse-led-altered-right': isModified, 'pulse-led-selected-right': $parent.isSelected($data) && isModified() }">
                        <i data-bind="css: dispatchableState"></i>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="small-6 columns">
              <div class="dispatchable-demand-panel">
                <div class="panel-header">
                  <div class="panel-header-title">
                    <h2>DEMAND</h2>
                  </div>
                  <div class="panel-header-stats" data-bind="visible: demandChanges() > 0">
                    <h2 data-bind="counterAnim: demandChanges"></h2>
                    <h4>Unsaved Change<span data-bind="visible: demandChanges() > 1">s</span></h4>
                  </div>
                </div>
                <div class="panel-container">
                  <table class="dispatchables" data-bind="table: { scrollable: false }, with: demand">
                    <thead>
                    <tr>
                      <th></th>
                      <th class="dispatchable-context"></th>
                      <th class="dispatchable-type"
                          data-bind="text: tableMap().type.name, attr: { title: tableMap().type.name, key: 'type'  }"></th>
                      <th data-bind="text: tableMap().receivingDateTime.name, attr: { title: tableMap().receivingDateTime.name, key: 'receivingDateTime'  }"></th>
                      <th data-bind="text: tableMap().location.name, attr: { title: tableMap().location.name, key: 'location'  }"></th>
                      <th data-bind="text: tableMap().dmd.name, attr: { title: tableMap().dmd.name, key: 'dmd'  }"></th>
                      <th data-bind="text: tableMap().weight.name, attr: { title: tableMap().weight.name, key: 'weight'  }"></th>
                      <th class="dispatchable-type"></th>
                      <th class="dispatchable-type"></th>
                      <th class="dispatchable-state"></th>
                    </tr>
                    </thead>
                    <tbody data-bind="contextMenu: true, foreach: { data: data }">
                    <tr data-bind="css: { active: $parent.isSelected($data), modified: isModified, deleted: isDeleted }">
                      <td data-bind="css: { 'pulse-led pulse-led-altered-left': isModified, 'pulse-led-selected-left': $parent.isSelected($data) && isModified() }"></td>
                      <td class="dispatchable-context"
                          data-bind="click: $root.initContextMenu">
                        <i class="dispatchable-context-menu has-context" data-bind="visible: hasContextChoices"></i>
                      </td>
                      <td class="dispatchable-type">
                        <i data-bind="css: dispatchableType, attr: { title: availability.displayName }"></i>
                      </td>
                      <td data-bind="text: formattedReceivingDateTime, attr: { title: formattedReceivingDateTime }"></td>
                      <td data-bind="text: receivingLocation.name, attr: { title: receivingLocation.name }"></td>
                      <td data-bind="text: id, attr: { title: id }"></td>
                      <td data-bind="text: weight, attr: { title: weight }"></td>
                      <td class="dispatchable-state">
                        <i data-bind="attr: { title: details }"
                           class="dispatchable-details has-tip tip-left" ></i>
                      </td>
                      <td class="dispatchable-state">
                        <i data-bind="attr: { title: comment, 'data-tooltip': hasComment()?'':null, 'aria-haspopup': hasComment() }, css: { 'has-tip tip-left': hasComment() }"
                           class="dispatchable-note"></i>
                      </td>
                      <td class="dispatchable-state"
                          data-bind="css: { 'pulse-led pulse-led-altered-right': isModified, 'pulse-led-selected-right': $parent.isSelected($data) && isModified() }">
                        <i data-bind="css: dispatchableState"></i>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="large-12 columns">
              <div class="dispatchable-assignments-panel">
                <div class="panel-header">
                  <div class="panel-header-title">
                    <h2>ASSIGNMENTS</h2>
                  </div>
                  <div class="panel-header-stats" data-bind="visible: transactionChanges() > 0">
                    <h2 data-bind="counterAnim: transactionChanges"></h2>
                    <h4>Unsaved Assignment<span data-bind="visible: transactionChanges() > 1">s</span></h4>
                  </div>
                </div>
                <div class="panel-container">
                  <table class="dispatchables" data-bind="table: { scrollable: false }, with: transaction">
                    <thead>
                    <tr>
                      <th></th>
                      <th class="dispatchable-context"></th>
                      <th class="dispatchable-type" data-bind="text: tableMap().supplyType.name, attr: { title: tableMap().supplyType.name, key: 'supplyType' }"></th>
                      <th data-bind="text: tableMap().supplyShippingDateTime.name, attr: { title: tableMap().supplyShippingDateTime.name, key: 'supplyShippingDateTime' }"></th>
                      <th data-bind="text: tableMap().supplyLocation.name, attr: { title: tableMap().supplyLocation.name, key: 'supplyLocation' }"></th>
                      <th data-bind="text: tableMap().supplyLt.name, attr: { title: tableMap().supplyLt.name, key: 'supplyLt' }"></th>
                      <th data-bind="text: tableMap().supplyWeight.name, attr: { title: tableMap().supplyWeight.name, key: 'supplyWeight' }"></th>
                      <th class="dispatchable-type"></th>
                      <th class="dispatchable-type"></th>
                      <th class="dispatchable-type" data-bind="text: tableMap().demandType.name, attr: { title: tableMap().demandType.name, key: 'demandType' }"></th>
                      <th data-bind="text: tableMap().demandReceivingDateTime.name, attr: { title: tableMap().demandReceivingDateTime.name, key: 'demandReceivingDateTime' }"></th>
                      <th data-bind="text: tableMap().demandLocation.name, attr: { title: tableMap().demandLocation.name, key: 'demandLocation' }"></th>
                      <th data-bind="text: tableMap().demandDmd.name, attr: { title: tableMap().demandDmd.name, key: 'demandDmd' }"></th>
                      <th data-bind="text: tableMap().demandWeight.name, attr: { title: tableMap().demandWeight.name, key: 'demandWeight' }"></th>
                      <th class="dispatchable-type"></th>
                      <th class="dispatchable-type"></th>
                    </tr>
                    </thead>
                    <tbody data-bind="contextMenu: true, foreach: { data: data, afterRender: loadingScreenOff }">
                    <tr data-bind="visible: !isVoided(), css: {partialActive: $parent.isSupplySelected($data.supply) || $parent.isDemandSelected($data.demand), modified: isModified }">
                      <td data-bind="css: { 'led-left': $parent.isSupplySelected($data.supply), 'pulse-led pulse-led-altered-left': isModified, 'pulse-led-selected-left': $parent.isSupplySelected($data.supply) && isModified() }"></td>
                      <td class="dispatchable-context"
                          data-bind="click: $root.initContextMenu">
                        <i class="dispatchable-context-menu has-context" data-bind="visible: hasContextChoices"></i>
                      </td>
                      <!-- ko with: supply -->
                      <td class="dispatchable-type">
                        <i data-bind="css: dispatchableType, attr: { title: availability.displayName }"></i>
                      </td>
                      <td data-bind="text: formattedShippingDateTime, attr: { title: formattedShippingDateTime }"></td>
                      <td data-bind="text: shippingLocation.name, attr: { title: shippingLocation.name }"></td>
                      <td data-bind="text: (id)?id:'new', attr: { title: (id)?id:'new' }"></td>
                      <td data-bind="text: weight, attr: { title: weight }"></td>
                      <td class="dispatchable-state">
                        <i data-bind="attr: { title: details }"
                           class="dispatchable-details has-tip" ></i>
                      </td>
                      <td data-bind="css: { 'led-right': $root.transaction.isSupplySelected($data), 'pulse-led pulse-led-altered-right pulse-led-selected-right': $root.transaction.isSupplySelected($data) && $parent.isModified() }">
                        <i data-bind="attr: { title: comment, 'data-tooltip': hasComment()?'':null, 'aria-haspopup': hasComment() }, css: {'has-tip': hasComment() }"
                           class="dispatchable-note"></i>
                      </td>
                      <!-- /ko -->
                      <!-- ko with: demand -->
                      <td class="dispatchable-type"
                          data-bind="css: { 'led-left': $root.transaction.isDemandSelected($data), 'pulse-led pulse-led-altered-left pulse-led-selected-left': $root.transaction.isDemandSelected($data) && $parent.isModified() }">
                        <i data-bind="css: dispatchableType, attr: { title: availability.displayName }"></i>
                      </td>
                      <td data-bind="text: formattedReceivingDateTime, attr: { title: formattedReceivingDateTime }"></td>
                      <td data-bind="text: receivingLocation.name, attr: { title: receivingLocation.name }"></td>
                      <td data-bind="text: (id)?id:'new', attr: { title: (id)?id:'new' }"></td>
                      <td data-bind="text: weight, attr: { title: weight }"></td>
                      <td class="dispatchable-state">
                        <i data-bind="attr: { title: details }"
                           class="dispatchable-details has-tip tip-left" ></i>
                      </td>
                      <td data-bind="css: { 'led-right': $root.transaction.isDemandSelected($data), 'pulse-led pulse-led-altered-right': $parent.isModified, 'pulse-led-selected-right': $root.transaction.isDemandSelected($data.demand) }">
                        <i data-bind="attr: { title: comment, 'data-tooltip': hasComment()?'':null, 'aria-haspopup': hasComment() }, css: {'has-tip tip-left': hasComment() }"
                           class="dispatchable-note"></i>
                      </td>
                      <!-- /ko -->
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-bind="allowBindings: false">
    <div id="shell-modal" class="shell-modal reveal-modal" data-reveal aria-labelledby="modalTitle"
         aria-hidden="true" role="dialog"
         data-bind="modal: true">
      <i class="sm-alert-icon"></i>

      <h2 id="modalTitle" data-bind="text: title"></h2>

      <p class="sm-message" data-bind="text: message"></p>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      <a class="sm-secondary-btn" href="#"
         data-bind="click: handleSecondary, text: secondaryButton().display, visible: !secondaryButton().disabled"></a>
      <a class="sm-primary-btn" href="#"
         data-bind="click: handlePrimary, text: primaryButton().display"></a>
    </div>
  </div>

  <div data-bind="allowBindings: false">
    <div id="contract-modal" class="shell-modal reveal-modal" data-reveal
         aria-labelledby="modalTitle" aria-hidden="true" role="dialog"
         data-bind="modal: true">
      <h2 id="modalTitle" data-bind="text: title"></h2>

      <p class="sm-message" data-bind="text: message"></p>

      <i data-bind="css: { 'sm-alert-icon': validationMessage() }"></i>

      <p class="sm-message" data-bind="text: validationMessage"></p>
      <ul class="no-bullet">
        <li>
          <select data-bind="selectMenu: { options: contracts, optionsCaption: 'Contracts', selectedOptions: contract }"></select>
        </li>
        <li>
          <select data-bind="selectMenu: { options: locations, optionsCaption: 'Contract Locations', selectedOptions: location }"></select>
        </li>
        <li data-bind="visible: showClassifications">
          <select data-bind="selectMenu: { options: classifications, optionsCaption: 'Classification', selectedOptions: classification }"></select>
        </li>
      </ul>
      <a class="close-reveal-modal" aria-label="Close" data-bind="click: handleSecondary">&#215;</a>
      <a class="sm-secondary-btn" href="#"
         data-bind="click: handleSecondary, text: secondaryButton().display"></a>
      <a class="sm-primary-btn" href="#"
         data-bind="click: handlePrimary, text: primaryButton().display"></a>
    </div>
  </div>
  <div data-bind="allowBindings: false">
    <div id="balancing-modal" class="shell-modal reveal-modal" data-reveal
         aria-labelledby="modalTitle" aria-hidden="true" role="dialog"
         data-bind="modal: true">
      <h2 id="modalTitle" data-bind="text: title"></h2>

      <p class="sm-message" data-bind="text: message"></p>

      <i data-bind="css: { 'sm-alert-icon': validationMessage() }"></i>
      <ul class="errorMessages" data-bind="foreach: validationMessages" >
        <li class="sm-message" data-bind="text: $data"></li>
      </ul>

      <ul>
        <li>
          <select data-bind="selectMenu: { options: locations, optionsCaption: 'Balancing Locations', selectedOptions: location }"></select>
        </li>
        <li>
          <select data-bind="selectMenu: { options: classifications, optionsCaption: 'Classification', selectedOptions: classification }"></select>
        </li>
        <li>
          <table>
            <tr><td>
                <table>
                    <tr><td class="label">Demand Price:</td></tr>
                    <tr><td><input data-bind="value: price" size="10"/></td></tr>
                </table>
            </td></tr>
            <tr><td>
                <table>
                    <tr><td class="label">Earliest Receiving Time: </td></tr>
                    <tr><td><input class="sh-modal-datepicker sh-modal-dp-date" type="text"
                           data-bind="value: receivingDateMin, datepicker: true"> </td>
                        <td><input class="sh-modal-text" data-bind="value: receivingDateHourMin" size="2"/></td>
                        <td>:</td>
                        <td><input class="sh-modal-text" data-bind="value: receivingDateMinuteMin" size="2"/></td>
                    </tr>
                </table>
            </td></tr>
            <tr><td>
                <table>
                    <tr><td class="label">Latest Receiving Time:</td></tr>
                    <tr><td><input class="sh-modal-datepicker sh-modal-dp-date" type="text"
                           data-bind="value: receivingDateMax, datepicker: true"> </td>
                        <td><input class="sh-modal-text" data-bind="value: receivingDateHourMax" size="2"/></td>
                        <td>:</td>
                        <td><input class="sh-modal-text" data-bind="value: receivingDateMinuteMax" size="2"/></td>
                    </tr>
                </table>
            </td></tr>
          </table>
        </li>
      </ul>
      <a class="close-reveal-modal" aria-label="Close" data-bind="click: handleSecondary">&#215;</a>
      <a class="sm-secondary-btn" href="#"
         data-bind="click: handleSecondary, text: secondaryButton().display"></a>
      <a class="sm-primary-btn" href="#"
         data-bind="click: handlePrimary, text: primaryButton().display"></a>
    </div>
  </div>

  <div data-bind="allowBindings: false">
    <div id="context-menu">
      <div class="context-menu-paddle">
        <i class="icon icon-ellipsis"></i>
      </div>
      <div class="context-menu-content">
        <ul data-bind="foreach: choices">
          <li data-bind="click: $parent.selectContextMenuItem">
            <a href="#" data-bind="text: display"></a>
          </li>
          <li class="divider" role="separator" data-bind="visible: divider"></li>
        </ul>
      </div>
    </div>
  </div>

</div>
  <div id="shell-overlay" data-bind="visible: loading" class="shell-overlay">
    <div class="shell-overlay-spinner">
      <svg width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
         <circle fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
      </svg>
    </div>
  </div>
