/* =============================================================================================
 -  Shell Header Navigation - Secondary Nav
 -----------------------------------------------------------------------------------------------
 -
 =============================================================================================== */


/* Variables
 =========================================================================== */
$sh-navbar-sec-color:                     $body-font-color !default;
$sh-navbar-sec-bg:                        transparent !default;
$sh-navbar-sec-height:                    rem-calc(40) !default;
$sh-navbar-sec-line-height:               rem-calc(35) !default;
$sh-navbar-sec-border-width:              1px !default;
$sh-navbar-sec-border-style:              solid !default;
$sh-navbar-sec-border-color:              transparent transparent $color-thanos !default;

/* Buttons
 ----------------------------------- */
$sh-navbar-sec-btn-font-family:           $button-font-family !default;
$sh-navbar-sec-btn-color:                 $button-font-color !default;
$sh-navbar-sec-btn-color-alt:             $button-font-color-alt !default;
$sh-navbar-sec-btn-bg:                    $color-riptide !default;
$sh-navbar-sec-btn-bg-hover:              darken($sh-navbar-sec-btn-bg, 5%) !default;
$sh-navbar-sec-btn-border-color:          $color-venom !default;
$sh-navbar-sec-btn-size:                  $button-sml !default;
$sh-navbar-sec-btn-font-weight:           $font-weight-bolder !default;
$sh-navbar-sec-btn-height:                rem-calc(20) !default;
$sh-navbar-sec-btn-margin:                rem-calc(0) !default;
$sh-navbar-sec-btn-padding:               rem-calc(2 26) !default;
$sh-navbar-sec-btn-text-transform:        capitalize !default;


/* Mixins
 =========================================================================== */
@mixin sh-navbar-sec() {
  .sh-navbar-sec {
    @include grid-row(nest-collapse);

    position: relative;
    height: $sh-navbar-sec-height;
    text-align: center;
    border-width: $sh-navbar-sec-border-width;
    border-style: $sh-navbar-sec-border-style;
    border-color: $sh-navbar-sec-border-color;

    ul {
      @include button-group-container();

      height: $sh-navbar-sec-height;
      line-height: $sh-navbar-sec-line-height;

      li {
        @include button-group-style($radius: $button-round, $float: null);

        height: $sh-navbar-sec-btn-height;
        line-height: $sh-navbar-sec-btn-height;

        a {
          @include button();
          @include button-size($padding: $sh-navbar-sec-btn-size);
          @include button-style-ext($bg: $sh-navbar-sec-btn-bg, $bg-hover: $sh-navbar-sec-btn-bg-hover, $gradient: true, $border-color: $sh-navbar-sec-btn-border-color);

          height: $sh-navbar-sec-btn-height;
          margin: $sh-navbar-sec-btn-margin;
          padding: $sh-navbar-sec-btn-padding;
          text-decoration: none;
          text-transform: $sh-navbar-sec-btn-text-transform;
        }
      }
    }
  }
}
