/* =============================================================================================
 -  Shell Header Navigation - Primary Nav
 -----------------------------------------------------------------------------------------------
 -
 =============================================================================================== */


/* Variables
 =========================================================================== */
$sh-navbar-pri-color:                     $body-font-color !default;
$sh-navbar-pri-background:                transparent !default;
$sh-navbar-pri-height:                    rem-calc(40) !default;
$sh-navbar-pri-line-height:               rem-calc(35) !default;
$sh-navbar-pri-border-width:              1px !default;
$sh-navbar-pri-border-style:              solid !default;
$sh-navbar-pri-border-color:              transparent transparent $color-thanos !default;

/* Buttons
 ----------------------------------- */
$sh-navbar-pri-btn-font-family:           $button-font-family !default;
$sh-navbar-pri-btn-color:                 $button-font-color !default;
$sh-navbar-pri-btn-color-alt:             $button-font-color-alt !default;
$sh-navbar-pri-btn-bg:                    transparent !default;
$sh-navbar-pri-btn-bg-hover:              $color-riptide !default;
$sh-navbar-pri-btn-border-color:          transparent !default;
$sh-navbar-pri-btn-border-color-hover:    $color-venom !default;
$sh-navbar-pri-btn-size:                  $button-sml !default;
$sh-navbar-pri-btn-font-weight:           $font-weight-bolder !default;
$sh-navbar-pri-btn-height:                rem-calc(20) !default;
$sh-navbar-pri-btn-margin:                rem-calc(0 10) !default;
$sh-navbar-pri-btn-padding:               rem-calc(2 26) !default;
$sh-navbar-pri-btn-text-transform:        uppercase !default;


/* Mixins
 =========================================================================== */
@mixin sh-navbar-pri() {
  .sh-navbar-pri {
    @include grid-row(nest-collapse);

    position: relative;
    height: $sh-navbar-pri-height;
    text-align: center;
    border-width: $sh-navbar-pri-border-width;
    border-style: $sh-navbar-pri-border-style;
    border-color: $sh-navbar-pri-border-color;

    ul {
      @include button-group-container();

      height: $sh-navbar-pri-height;
      line-height: $sh-navbar-pri-line-height;

      li {
        @include button-group-style();

        height: $sh-navbar-pri-btn-height;
        line-height: $sh-navbar-pri-btn-height;

        a {
          @include button();
          @include button-size($padding: $sh-navbar-pri-btn-size);
          @include button-style-ext($bg: $sh-navbar-pri-btn-bg, $bg-hover: $sh-navbar-pri-btn-bg-hover, $radius: $button-round, $border-color: $sh-navbar-pri-btn-border-color, $border-color-hover: $sh-navbar-pri-btn-border-color-hover);

          height: $sh-navbar-pri-btn-height;
          margin: $sh-navbar-pri-btn-margin;
          padding: $sh-navbar-pri-btn-padding;
          text-decoration: none;
          text-transform: $sh-navbar-pri-btn-text-transform;
        }
      }
    }
  }
}
