/* =============================================================================================
 - Shell Header - Command Bar
 -----------------------------------------------------------------------------------------------
 -
 =============================================================================================== */


/* Variables
 =========================================================================== */
$sh-cmdbar-color:                         $color-lightgray !default;
$sh-cmdbar-bg:                            $color-slate !default;
$sh-cmdbar-height:                        rem-calc(40) !default;
$sh-cmdbar-line-height:                   rem-calc(40) !default;
$sh-cmdbar-line-minWidth:                 rem-calc(1050) !default;
$sh-cmdbar-border-width:                  1px !default;
$sh-cmdbar-border-style:                  solid !default;
$sh-cmdbar-border-color:                  $color-darkgray transparent $color-vision !default;

/* Buttons
 ----------------------------------- */



$sh-cmdbar-btn-font-family:               $button-font-family !default;
$sh-cmdbar-btn-color:                     $color-cerebro !default;
$sh-cmdbar-btn-color-hover:               $sh-cmdbar-btn-color !default;
$sh-cmdbar-btn-bg:                        #2e2e2e !default;
$sh-cmdbar-btn-bg-hover:                  #404040;
$sh-cmdbar-btn-border-color:              $color-dark !default;
$sh-cmdbar-btn-size:                      $button-tny !default;
$sh-cmdbar-btn-font-weight:               $font-weight-bolder !default;
$sh-cmdbar-btn-height:                    rem-calc(26) !default;
$sh-cmdbar-btn-margin:                    rem-calc(0) !default;
$sh-cmdbar-btn-padding:                   rem-calc(7 15) !default;
$sh-cmdbar-btn-text-transform:            capitalize !default;

$sm-pri-btn-color:                        $color-cerebro !default;
$sm-pri-btn-color-alt:                    $sm-pri-btn-color !default;
$sm-pri-btn-bg:                           $color-whiplash !default;
$sm-pri-btn-bg-hover:                     darken($sm-pri-btn-bg, 5%) !default;
$sm-pri-btn-bg-disabled:                  $color-shaw !default;
$sm-pri-btn-border-color:                 $color-cerebro !default;


/* Buttons
 ----------------------------------- */
$sh-cmdbar-input-padding:                 rem-calc(5) !default;



/* Mixins
 =========================================================================== */
@mixin sh-commandbar() {
  .sh-commandbar {
    @include grid-row(nest-collapse);

    position: relative;
    height: $sh-cmdbar-height;
    min-width: $sh-cmdbar-line-minWidth;
    background: $sh-cmdbar-bg;
    text-align: center;

    border-width: $sh-cmdbar-border-width;
    border-style: $sh-cmdbar-border-style;
    border-color: $sh-cmdbar-border-color;

    .sh-cmdbar-left {
      @include grid-column($columns: 8, $float: left);
    }

    .sh-cmdbar-right {
      @include grid-column($columns: 4, $float: right);
    }

    .sh-cmdbar-btn-bar {
      @include clearfix;

      .sh-cmdbar-btn-list {
        @include button-group-container();

        height: $sh-cmdbar-height;
        line-height: $sh-cmdbar-line-height;
      }

      .sh-cmdbar-filter-list {
        @extend .button-group;
        @extend .round;

        //float: left;
        //height: $sh-cmdbar-height;
        line-height: $sh-cmdbar-line-height;
        //
        //.sh-cmdbar-filter-item {
        //  @include button-group-style($radius: $button-round, $float: null);
        //
        //  height: $sh-cmdbar-btn-height;
        //  line-height: $sh-cmdbar-btn-height;
        //  margin: 0;
        //
        //
        //}
      }

      .sh-cmdbar-item {
        @include button-group-style($radius: $button-radius, $float: null);

        height: $sh-cmdbar-btn-height;
        line-height: $sh-cmdbar-btn-height;
        margin: $sh-cmdbar-btn-margin;
      }

      .sh-cmdbar-status {
        height: $sh-cmdbar-btn-height;
        margin: $sh-cmdbar-btn-margin;
        padding: $sh-cmdbar-btn-padding;
        font-size: $h4-font-size;
        font-weight: $font-weight-bolder;
        line-height: rem-calc(12);
        color: $color-shaw;
      }

      .sh-cmdbar-btn {
        @include button();
        @include button-size($padding: $sh-cmdbar-btn-size);
        @include button-style-ext($color: $sh-cmdbar-btn-color, $color-hover: $sh-cmdbar-btn-color-hover, $bg: $color-gray, $bg-hover: $sh-cmdbar-btn-bg-hover, $radius: $button-radius, $gradient: true, $border-color: $sh-cmdbar-btn-border-color);

        height: $sh-cmdbar-btn-height;
        margin: $sh-cmdbar-btn-margin;
        padding: $sh-cmdbar-btn-padding;
        font-size: $h4-font-size;
        line-height: rem-calc(12);
        text-decoration: none;
        color: $color-lightgray;
        text-transform: $sh-cmdbar-btn-text-transform;
        box-shadow: 0px 1px $color-dovegray;
      }



      .sh-cmdbar-save-btn {
        @include button();
        @include button-size($padding: $sh-cmdbar-btn-size);
        @include button-style-ext($color: $sh-cmdbar-btn-color, $color-hover: $sh-cmdbar-btn-color-hover, $bg: $sm-pri-btn-bg, $bg-hover: $sm-pri-btn-bg-hover, $radius: $button-radius, $gradient: true, $border-color: $sh-cmdbar-btn-border-color);

        border-style: none;
        height: $sh-cmdbar-btn-height;
        margin: $sh-cmdbar-btn-margin;
        padding: $sh-cmdbar-btn-padding;
        font-size: $h4-font-size;
        line-height: rem-calc(12);
        text-decoration: none;
        color: $sm-pri-btn-color;
        text-transform: $sh-cmdbar-btn-text-transform;

        &.disabled {
          background: linear-gradient($sm-pri-btn-bg-disabled, darken($sm-pri-btn-bg-disabled, 15%));
          cursor: default;
        }

        span {
          text-transform: none;
        }

        .check {
          @include icon();
          font-size: $h5-font-size;
          margin-left: 2px;

          &:after {
            content: $icon-check;
          }
        }
      }


      .sh-cmdbar-datepicker {
        @include button();
        @include button-size($padding: $sh-cmdbar-btn-size);
        @include button-style-ext($color: $sh-cmdbar-btn-color, $color-hover: $sh-cmdbar-btn-color-hover, $bg: $color-gray, $bg-hover: $sh-cmdbar-btn-bg-hover, $radius: $button-radius, $gradient: true, $border-color: $sh-cmdbar-btn-border-color);

        height: $sh-cmdbar-btn-height;

        color: $color-lightgray;
        margin: rem-calc(-2);
        padding: $sh-cmdbar-btn-padding;
        font-size: $h4-font-size;
        text-decoration: none;
        text-transform: $sh-cmdbar-btn-text-transform;
        box-shadow: 0px 1px $color-dovegray;


        width: rem-calc(100);
        text-align: center;

        &.sh-cmdbar-dp-start {
          border-right: none;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;

          +span {
            @include icon();

            display: block;
            position: absolute;
            top: rem-calc(14);
            left: rem-calc(96);
            font-size: $h3-font-size;
            margin-left: 6px;
            color: $color-lightgray;
            font-weight: $font-weight-bolder;
            z-index: 1;

            &:after {
              content: $icon-small;
            }
          }
        }

        &.sh-cmdbar-dp-end {
          border-left: none;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }

      .sh-cmdbar-filter-btn {
        @include button();
        @include button-size($padding: $sh-cmdbar-btn-size);
        @include button-style-ext($color: $sh-cmdbar-btn-color, $color-hover: $sh-cmdbar-btn-color-hover, $bg: $color-gray, $bg-hover: $sh-cmdbar-btn-bg-hover, $radius: $button-radius, $gradient: true, $border-color: $sh-cmdbar-btn-border-color);


        border: 1px solid #262626 !important;
        height: $sh-cmdbar-btn-height;
        margin: $sh-cmdbar-btn-margin;
        padding: $sh-cmdbar-btn-padding;
        font-size: $h4-font-size;
        text-decoration: none;
        line-height: rem-calc(12);
        color: $color-lightgray;
        text-transform: $sh-cmdbar-btn-text-transform;
        box-shadow: 0px 1px $color-dovegray;

        &.active,
        &:active {
          color: $color-falcon;
        }
      }

      .sh-cmdbar-filter-list {
        @include button-group-container();

        float: left;
        height: $sh-cmdbar-height;
        line-height: $sh-cmdbar-line-height;
        margin-left: 20px;
      }

      .sh-cmdbar-search-btn {
        @include button();
        @include button-size($padding: $sh-cmdbar-btn-size);
        @include button-style-ext($color: $sh-cmdbar-btn-color, $color-hover: $sh-cmdbar-btn-color-hover, $bg: $color-gray, $bg-hover: $sh-cmdbar-btn-bg-hover, $radius: $button-radius, $gradient: true, $border-color: $sh-cmdbar-btn-border-color);


        border: 1px solid #262626 !important;
        height: $sh-cmdbar-btn-height;
        margin: rem-calc(0 0 0 20);
        padding: $sh-cmdbar-btn-padding;
        font-size: $h4-font-size;
        text-decoration: none;
        line-height: rem-calc(12);
        color: $color-lightgray;
        text-transform: $sh-cmdbar-btn-text-transform;
        box-shadow: 0px 1px $color-dovegray;

        span {
          @include icon();
          font-size: $h5-font-size;
          margin-left: 6px;

          &:after {
            content: $icon-search;
          }
        }
      }
    }
  }
}
