/* =============================================================================================
 - Shell Header - Progress Bar
 -----------------------------------------------------------------------------------------------
 -
 =============================================================================================== */


/* Variables
 =========================================================================== */
$sh-pbar-color:                       $body-font-color !default;
$sh-pbar-background:                  red !default;
$sh-pbar-height:                      rem-calc(2) !default;



/* Mixins
 =========================================================================== */
@mixin sh-progressbar() {
  .sh-progressbar {
    @include grid-row(nest-collapse);

    position: relative;
    height: $sh-pbar-height;
    width: auto;

    * {
      margin: 0;
      padding: 0;
    }
  }
}
