/* =============================================================================================
 - Shell Header - Navigation Bar
 -----------------------------------------------------------------------------------------------
 -
 =============================================================================================== */
@import "sh-navbar-pri";
@import "sh-navbar-sec";


/* Variables
 =========================================================================== */
$navbar-color:                            $body-font-color !default;
$navbar-background:                       transparent !default;
$navbar-height:                           rem-calc(40) !default;


/* Mixins
 =========================================================================== */
@mixin sh-navbar() {
  .sh-navbar {
    @include grid-row(nest-collapse);

    position: relative;
    height: $navbar-height;

    @include sh-navbar-pri();
    @include sh-navbar-sec();
  }
}

