/* =============================================================================================
 - Shell Header - Masthead
 -----------------------------------------------------------------------------------------------
 -
 =============================================================================================== */


/* Variables
 =========================================================================== */
$sh-mh-color:                             $body-font-color !default;
$sh-mh-background:                        $color-alsodark !default;
$sh-mh-height:                            rem-calc(40) !default;
$sh-mh-border-width:                      1px !default;
$sh-mh-border-style:                      solid !default;
$sh-mh-border-color:                      transparent transparent $color-vision transparent !default;
$sh-mh-link-color:                        $sh-mh-color !default;
$sh-mh-link-hover-color:                  $sh-mh-color !default;
$sh-mh-link-font-size:                    $h4-font-size !default;
$sh-mh-link-line-height:                  $sh-mh-height !default;
$sh-mh-link-padding:                      rem-calc(0 10) !default;

$sh-mh-link-brand-height:                 $sh-mh-height;
$sh-mh-link-brand-width:                  rem-calc(50);
$sh-mh-link-brand-bg:                     url("~images/logo-white.svg") !default;
$sh-mh-link-brand-bg-size:                $sh-mh-link-brand-width $sh-mh-link-brand-height !default;
$sh-mh-link-brand-padding:                rem-calc(8) !default;

$sh-mh-link-title-color:                  $color-lightgray !default;
$sh-mh-link-title-font-weight:            $font-weight-bolder !default;

$sh-mh-link-region-color:                 $color-vision !default;
$sh-mh-link-region-font-size:             $h4-font-size !default;
$sh-mh-link-region-font-weight:           $font-weight-bold !default;


/* Mixins
 =========================================================================== */
@mixin sh-masthead() {
  .sh-masthead {
    @include grid-row(nest-collapse);

    position: relative;
    height: $sh-mh-height;
    width: auto;
    min-width: rem-calc(1050);
    background-color: $color-slate;
    border-width: $sh-mh-border-width;
    border-style: $sh-mh-border-style;
    border-color: $sh-mh-border-color;

    * {
      margin: 0;
      padding: 0;
    }

    .sh-mh-left {
      @include grid-column($columns: 6, $float: left);
    }

    .sh-mh-right {
      @include grid-column($columns: 6, $float: right);
    }

    .sh-mh-list {
      height: $sh-mh-height;
      width: auto;
      list-style: none;

      .sh-mh-item {
        display: inline-block;
        position: relative;
        height: $sh-mh-height;
        margin-right: rem-calc(10);
        text-decoration: none;
        text-transform: uppercase;

        .sh-mh-link {
          height: $sh-mh-height;
          color: $sh-mh-link-color;
          font-size: $sh-mh-link-font-size;
          line-height: $sh-mh-link-line-height;
          padding: $sh-mh-link-padding;
          cursor: $cursor-default-value;


          &:hover {
            color: $sh-mh-link-hover-color;
          }

          &.sh-mh-link-brand {
            display: block;
            padding: $sh-mh-link-brand-padding;
            background-image: $sh-mh-link-brand-bg;
            background-position: center;
            background-repeat: no-repeat;
            background-size: $sh-mh-link-brand-bg-size;
            height: $sh-mh-link-brand-height;
            width: $sh-mh-link-brand-width;
            text-indent: -9999px;
            line-height: rem-calc(24);
          }

          &.sh-mh-link-title {
            color: $sh-mh-link-title-color;
            font-weight: $sh-mh-link-title-font-weight;
            line-height: $sh-mh-height;
          }

          &.sh-mh-link-region {
            color: $sh-mh-link-title-color;
            font-size: $sh-mh-link-region-font-size;
            font-weight: $sh-mh-link-region-font-weight;
            line-height: $sh-mh-height;
          }
        }
      }
    }
  }
}
