/* =============================================================================================
 - Shell Header
 -----------------------------------------------------------------------------------------------
 -
 =============================================================================================== */
@import "sh-masthead";
@import "sh-navbar";
@import "sh-commandbar";
@import "sh-progressbar";


/* Variables
 =========================================================================== */
$shell-header-box-shadow:                 0 1px 5px rgba(0, 0, 0, 0.25), inset 0 -1px rgba(255, 255, 255, 0.3);


/* Mixins
 =========================================================================== */
@mixin shell-header() {
  .shell-header {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    background: $color-cerebro;
    box-shadow: $shell-header-box-shadow;
    z-index: map-deep-get($zindex, "shell", "header");


    @include sh-masthead();
    @include sh-navbar();
    @include sh-commandbar();
    @include sh-progressbar();
    
  }
}
