/* =============================================================================================
 -  Buttons
 -----------------------------------------------------------------------------------------------
 -  Enhancements to the core button classes.
 =============================================================================================== */
@import "~base/global";


$include-html-button-classes: true; //$include-html-classes !default;

// @MIXIN
//
// we use this mixin to create the button hover and border colors

// @MIXIN
//
// We use this mixin to add fancy button styles
//
// $bg - Background color. We can set $bg:false for a transparent background. Default: $primary-color.
// $radius - If true, set to button radius which is $button-radius || explicitly set radius amount in px (ex. $radius:10px). Default: false
// $disabled - We can set $disabled:true to create a disabled transparent button. Default: false
// $bg-hover - Button Hover Background Color. Default: $button-bg-hover
// $border-color - Button Border Color. Default: $button-border-color
@mixin button-style-ext($color: $body-font-color, $color-hover: $body-font-color, $bg: $button-bg-color, $gradient: false, $radius: false, $disabled: false, $bg-hover: null, $border-color: null, $border-color-hover: null) {

  // We control which background styles are used,
  // these can be removed by setting $bg:false
  @if $bg {
    @if $bg-hover == null {
      $bg-hover: if ($bg == $button-bg-color, $button-bg-hover, scale-color($bg, $lightness: $button-function-factor));
    }

    @if $border-color == null {
      $border-color: if ($bg == $button-bg-color, $button-border-color, scale-color($bg, $lightness: $button-function-factor));
    }

    background-color: $bg;

    @if $gradient == true {
      background: linear-gradient($bg, darken($bg, 15%));
    }

    color: $color;
    border-color: $border-color;

    &:hover,
    &:focus {
      background: linear-gradient($bg, darken($bg, 20%));

      @if $color-hover != null {
        color: $color-hover;
      }

      @if $gradient == true {
        background: linear-gradient($bg-hover, darken($bg-hover, 20%));
      }

      @if $border-color != null {
        border-color: $border-color-hover;
      }
    }

    &.active {
      background: linear-gradient(darken($bg, 20%), $bg);
    }
  }

  // We can set $disabled:true to create a disabled transparent button.
  @if $disabled {
    box-shadow: none;
    cursor: $button-disabled-cursor;
    opacity: $button-disabled-opacity;

    &:hover,
    &:focus,
    &.active {
      background-color: $bg;
    }
  }

  // We can control how much button radius is used.
  @if $radius == true {
    @include radius($button-radius);
  }
  @else if $radius {
    @include radius($radius);
  }
}
