/* =============================================================================================
 - Context Menu
 -----------------------------------------------------------------------------------------------
 -
 =============================================================================================== */
@import "~base/global";


/* Variables
 =========================================================================== */
$include-html-panel-classes:              true !default;

$context-menu-color:                      $color-vision;
$context-menu-bg:                         $color-cerebro;
$context-menu-border-color:               $color-cable;
$context-menu-box-shadow:                 2px 2px 3px rgba(0, 0, 0, 0.25), inset 0 -1px rgba(255, 255, 255, 0.3);
$context-menu-transition:                 background-color 0.2s ease;
$context-menu-list-divider-color:         $color-thanos;


/* Mixins
 =========================================================================== */
@mixin context-menu {
  position: absolute;
  display: none;
  clear: both;
  z-index: map-deep-get($zindex, "shell", "main");

  .context-menu-paddle {
    position: absolute;
    top: rem-calc(-33);
    left: rem-calc(-1);
    height: rem-calc(31);
    width: rem-calc(31);
    line-height: rem-calc(33);
    padding: rem-calc(0);
    z-index: 1;
    font-size: $h3-font-size;
    background: $context-menu-bg;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: $context-menu-border-color;
    border-radius: $global-radius $global-radius 0 0;
    text-align: center;

    &:before {
      position: absolute;
      top: rem-calc(28);
      left: rem-calc(29);
      height: rem-calc(12);
      width: rem-calc(12);
      display: block;
      background: transparent;
      border-width: 2px;
      border-color: transparent transparent $context-menu-bg $context-menu-bg;
      border-style: solid;
      border-radius: 0 0 0 $global-radius;
      content: "";
      z-index: 2;
    }

    &:after {
      position: absolute;
      top: rem-calc(16);
      left: rem-calc(29);
      height: rem-calc(14);
      width: rem-calc(14);
      display: block;
      background: transparent;
      border-width: 1px;
      border-color: transparent transparent $context-menu-border-color $context-menu-border-color;
      border-style: solid;
      border-radius: 0 0 0 $global-radius;
      content: "";
      z-index: 2;
    }
  }

  .context-menu-content {
    position: absolute;
    width: rem-calc(160);
    top: rem-calc(-3);
    left: rem-calc(-1);
    color: $context-menu-color;
    background: $context-menu-bg;
    border-width: 1px;
    border-style: solid;
    border-color: $context-menu-border-color;
    border-radius: 0 $global-radius $global-radius $global-radius;
    box-shadow: $context-menu-box-shadow;
    clear: both;

    ul {
      margin: rem-calc(5 0);
      padding: rem-calc(5 0);
      list-style: none;
      text-align: left;

      li {
        a {
          color: $context-menu-color;
          font-size: $h4-font-size;
          font-weight: $font-weight-normal;
          padding: rem-calc(5 12);
          cursor: $cursor-default-value;
          transition: $context-menu-transition;
        }

        &:hover {
          background-color: $color-wolverine;
        }
      }
    }

    .divider {
      height: 1px;
      margin: rem-calc(4 0);
      overflow: hidden;
      background-color: $context-menu-list-divider-color;
    }
  }
}

/* Export Class Definitions
 =========================================================================== */
@include exports("context-menu") {
  @if $include-html-panel-classes {
    #context-menu {
      @include context-menu;
    }
  }
}
