/*!
 * jQuery UI Datepicker 1.10.4
 * http://jqueryui.com
 *
 * Copyright 2014 jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://api.jqueryui.com/datepicker/#theming
 */
.ui-datepicker {
  width: 19em;
  padding: rem-calc(0);
  display: none;
  background: $color-cerebro;
  border-width: 1px;
  border-style: solid;
  border-color: $color-thanos;
  border-radius: $global-radius;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25), inset 0 -1px rgba(255, 255, 255, 0.3);
}

.ui-datepicker .ui-datepicker-header {
  position: relative;
  height: rem-calc(40);
  padding: rem-calc(0);
  background: linear-gradient($color-cerebro, $color-hulk);
  border-top-left-radius: $global-radius;
  border-top-right-radius: $global-radius;
  border-bottom: 1px solid $color-thanos;
}

.ui-datepicker .ui-datepicker-prev {
  position: absolute;
  top: 5px;
  left: 2px;
  width: 1.8em;
  height: 1.8em;
  line-height: rem-calc(20);
  color: $color-vision;

  &:hover {
    color: $color-cerebro;
    background: $color-whiplash;
  }

  span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;

    &:before {
      @extend .icon;
      @extend .icon-chevron-left;
    }
  }
}

.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 5px;
  right: 2px;
  width: 1.8em;
  height: 1.8em;
  line-height: rem-calc(20);
  color: $color-vision;

  &:hover {
    color: $color-cerebro;
    background: $color-whiplash;
  }

  span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;

    &:before {
      @extend .icon;
      @extend .icon-chevron-right;
    }
  }
}

.ui-datepicker .ui-datepicker-title {
  font-size: $h4-font-size;
  font-weight: 400;
  margin: 0 2.3em;
  line-height: rem-calc(40);
  text-align: center;
  text-transform: uppercase;

  select {
    font-size: $h6-font-size;
    margin: 1px 0;

    &.ui-datepicker-month,
    &.ui-datepicker-year {
      width: 49%;
    }
  }
}

.ui-datepicker table {
  width: 100%;
  font-size: $h4-font-size;
  background: transparent;
  border-collapse: separate;
  border-spacing: 0;
  padding: rem-calc(19);

  th {
    font-size: $h4-font-size;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
    border: 0;
    padding: 0;
    width: rem-calc(38);
  }

  td {
    border: 0;
    height: rem-calc(36);
    width: rem-calc(36);
    padding: rem-calc(1);
    box-shadow: none;

    span,
    a {
      display: block;
      height: rem-calc(36);
      width: rem-calc(36);
      line-height: rem-calc(36);
      padding: rem-calc(0);
      text-align: center;
      text-decoration: none;
    }
  }
}

.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;

  button {
    float: right;
    margin: rem-calc(0 15 15 0);
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    height: rem-calc(40);
    width: rem-calc(138);
    overflow: visible;
    border-radius: $global-radius;
    color: $color-cerebro;
    background: linear-gradient($color-whiplash, darken($color-whiplash, 15%));

    &.ui-datepicker-current {
      float: right;
      color: $color-vision;
      background: linear-gradient($color-thor, darken($color-thor, 15%));
      border-color: $color-thanos;
      border-width: 1px;
      border-style: solid;
    }
  }
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
  width: 100%;

  .ui-datepicker-group {
    float: left;

    table {
      width: 50%;
      margin: rem-calc(2 0 0 0);
    }
  }
}

.ui-datepicker-multi .ui-datepicker-group
.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}

.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%;
}


.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left;
}

.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
  direction: rtl;
}

.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto;
}

.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
  float: right;
}

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: none;
  background: $color-cerebro;
  font-weight: $font-weight-normal;
  color: $color-vision;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  color: #454545/*{fcDefault}*/;
  text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  color: #000000;
  background: $color-kingpin;
  border-radius: $global-radius;
  font-weight: $font-weight-normal;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
  color: $color-vision;
  background: $color-kingpin;
  text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border: none;
  background: $color-cerebro;
  font-weight: $font-weight-normal;
  color: $color-vision;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: #ffffff/*{fcActive}*/;
  text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  background: $color-whiplash;
  color: $color-cerebro;
  border-radius: $global-radius;
}
