/* =============================================================================================
 - Panels
 -----------------------------------------------------------------------------------------------
 -
 =============================================================================================== */
@import "~base/global";


/* Variables
 =========================================================================== */
$include-html-panel-classes:              true !default;

$panel-color:                             $color-vision;
$panel-bg:                                $color-cerebro;
$panel-box-shadow:                        2px 2px 3px rgba(0, 0, 0, 0.25), inset 0 -1px rgba(255, 255, 255, 0.3);


/* Mixins
 =========================================================================== */
@mixin panel-container {
  position: relative;
  top: rem-calc(0);
  right: rem-calc(0);
  bottom: rem-calc(0);
  left: rem-calc(0);
  height: rem-calc(350);
  width: 100%;
  overflow: scroll;
  background: $color-hulk;
}

@mixin panel-header {
  position: relative;
  top: rem-calc(0);
  right: rem-calc(0);
  bottom: rem-calc(0);
  left: rem-calc(0);
  padding: rem-calc(0);
  margin: rem-calc(0);
  background: linear-gradient($color-alsoSlate, $color-darkgray);
  height: rem-calc(70);
  width: 100%;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: transparent transparent #5d5d5d transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;


  .panel-header-title {
    position: relative;
    top: rem-calc(0);
    right: rem-calc(0);
    bottom: rem-calc(0);
    left: rem-calc(0);
    height: 100%;
    width: auto;
    padding: rem-calc(12 0 8 26);
    margin: rem-calc(0 15 0 0);
    float: left;
    line-height: rem-calc(26);

    h2, h5 {
      margin: rem-calc(0);

      text-transform: uppercase;
    }

    h2 {
      color: $color-gold;
      font-weight: $font-weight-bold;
    }

    h5 {
      font-weight: $font-weight-light;
    }
  }

  .panel-header-stats {
    position: relative;
    top: rem-calc(0);
    right: rem-calc(0);
    bottom: rem-calc(0);
    left: rem-calc(0);
    height: 100%;
    width: auto;
    padding: rem-calc(12 26 12 0);
    margin: rem-calc(0 0 0 15);
    float: right;
    line-height: rem-calc(20);

    ul {
      margin: rem-calc(0);
      list-style: none;

      li {
        text-align: center;
        float: left;
        padding: rem-calc(5 0);
        margin: rem-calc(0 0 0 15);
      }
    }
    h2, h4 {
      margin: rem-calc(0);
    }

    h2 {
      color: $color-gold;
      font-weight: $font-weight-bolder;
      text-align: center;
    }

    h4 {
      color: $color-gold;
      font-weight: $font-weight-light;
    }
  }
}


@mixin panel {
  position: relative;
  top: rem-calc(0);
  right: rem-calc(0);
  bottom: rem-calc(0);
  left: rem-calc(0);
  height: 100%;
  width: 100%;
  color: $panel-color;
  background: $panel-bg;
  border-width: 1px;
  border-style: solid;
  border-color: $color-alsodarkgray;
  border-radius: $global-radius;
  box-shadow: $panel-box-shadow;

  .panel-header {
    @include panel-header;
  }

  table {
    margin: rem-calc(-5 0 $table-margin-bottom 0) !important;
  }
}


/* Export Class Definitions
 =========================================================================== */
@include exports("module") {
  @if $include-html-panel-classes {
    .panel {
      @include panel;
    }

    .panel-container {
      @include panel-container;
    }
  }
}
