/* =============================================================================================
 - Select Menu
 -----------------------------------------------------------------------------------------------
 -
 =============================================================================================== */
@import "~base/global";

/* Variables
 =========================================================================== */
$select-menu-height:                      rem-calc(15) !default;
$select-menu-width:                       rem-calc(140) !default;
$select-menu-margin:                      rem-calc(0) !default;
$select-menu-padding:                     $button-med !default;
$select-menu-color:                       $color-lightgray !default;
$select-menu-color-hover:                 $select-menu-color !default;
$select-menu-bg:                          $color-gray !default;
$select-menu-bg-hover:                    darken($select-menu-bg, 5%) !default;
$select-menu-border-color:                $color-dark !default;
$select-menu-text-transform:              capitalize !default;
$select-menu-line-height:                 rem-calc(24) !default;


.SlectBox {
  width: $select-menu-width;
  line-height: rem-calc(12);

  @include button();
  @include button-size($padding: $select-menu-padding);
  @include button-style-ext($color: $select-menu-color, $color-hover: $select-menu-color-hover, $bg: $select-menu-bg, $bg-hover: $select-menu-bg-hover, $radius: $button-radius, $gradient: true, $border-color: $select-menu-border-color);

  height: $select-menu-height;
  margin: $select-menu-margin;
  padding: rem-calc(5);
  text-decoration: none;
  text-transform: $select-menu-text-transform;
  box-shadow: 0px 1px $color-dovegray;
  

  * {
    cursor: $cursor-pointer-value;
  }
}

/*this is applied on that hidden select. DO NOT USE display:none; or visiblity:hidden; and Do not override any of these properties. */
.SelectClass {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border: none;
  z-index: 1;
  box-sizing: border-box;
  filter: alpha(opacity=0);
  opacity: 0;
}

.SumoSelect > .optWrapper > .options > li label, .SumoSelect > .CaptionCont {
  user-select: none;
}

.SumoSelect {
  display: inline-block;
  position: relative;
  outline: none;
  cursor: $cursor-pointer-value;
  top: rem-calc(3);

  p {
    margin: 0;
  }
}


.SumoSelect:focus > .CaptionCont, .SumoSelect:hover > .CaptionCont {
  border-color: #262626;
}

.SumoSelect > .CaptionCont {
  position: relative;
  border: 1px solid $color-dark;
  min-height: 14px;
  background-color: #fff;
  border-radius: $global-radius;
  margin: rem-calc(0 0 0 15);
  height: rem-calc(26);
  line-height: rem-calc(14);
}


.SumoSelect > .CaptionCont > span {
  display: block;
  padding-right: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: $cursor-pointer-value;
  color: $select-menu-color;
  overflow: hidden;
}


/*placeholder style*/
.SumoSelect > .CaptionCont > span.placeholder {
  color: $select-menu-color;
  font-style: $font-weight-normal;
}

.SumoSelect > .CaptionCont > label {
  position: absolute;
  top: rem-calc(6);
  right: 0;
  bottom: 0;
  width: 30px;
}


.SumoSelect > .CaptionCont > label > i {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  &:before {
    @extend .icon;
    @extend .icon-chevron-down;
    font-size: $h4-font-size;
  }
}

.SumoSelect > .optWrapper {
  top: 0;
  width: 100%;
  position: absolute;
  left: 16px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-out, top 200ms ease-out, visibility 200ms ease-out;
  box-sizing: border-box;
  z-index: -100;
  background: #fff;
  border: 1px solid #ddd;
  //box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.11);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), inset 0 -1px rgba(255, 255, 255, 0.3);
  border-radius: 0 0 $global-radius $global-radius;
  overflow: hidden;
}

.SumoSelect > .optWrapper.open {
  top: 28px;
  visibility: visible;
  opacity: 1;
  z-index: 1000;
}

.SumoSelect > .optWrapper > .options {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
  overflow: auto;
  border-radius: $global-radius;
  /*Set the height of pop up here (only for desktop mode)*/
  max-height: 250px;
  /*height*/
  text-align: left;
}

.SumoSelect > .optWrapper.isFloating > .options {
  max-height: 100%;
  box-shadow: 0 0 100px #595959;
}

.SumoSelect > .optWrapper > .options > li {
  padding: 6px 6px;
  border-bottom: 1px solid $color-thanos;
  position: relative;
}

.SumoSelect > .optWrapper > .options > li:first-child {
  border-radius: $global-radius $global-radius 0 0;
}

.SumoSelect > .optWrapper > .options > li:last-child {
  border-bottom: none;
  border-radius: 0 0 $global-radius $global-radius;
}

.SumoSelect > .optWrapper > .options > li:hover {
  background-color: #E4E4E4;
}

.SumoSelect > .optWrapper > .options > li.sel {
  background-color: #a1c0e4;
}

.SumoSelect > .optWrapper > .options > li label {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  cursor: $cursor-pointer-value;
}

.SumoSelect > .optWrapper > .options > li span {
  display: none;
}

/*Floating styles*/
.SumoSelect > .optWrapper.isFloating {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 90%;
  bottom: 0;
  margin: auto;
  max-height: 90%;
}

/*Hover*/
/*.SumoSelect:hover > .CaptionCont > label { background-color: #F1F1F1; }*/

/*disabled state*/
.SumoSelect > .optWrapper > .options > li.disabled {
  background-color: inherit;
  pointer-events: none;
}

.SumoSelect > .optWrapper > .options > li.disabled * {
  opacity: 0.5;
}

/*styling for multiple select*/
.SumoSelect > .optWrapper.multiple > .options > li {
  padding-left: 35px;
  cursor: $cursor-pointer-value;
}

.SumoSelect > .optWrapper.multiple > .options > li span,
.SumoSelect .select-all > span {
  position: absolute;
  display: block;
  width: 30px;
  top: 0;
  bottom: 0;
  margin-left: -35px;
}

.SumoSelect > .optWrapper.multiple > .options > li span i,
.SumoSelect .select-all > span i {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 14px;
  height: 14px;
  border: 1px solid #AEAEAE;
  border-radius: $global-radius;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
  background-color: #fff;
}

.SumoSelect > .optWrapper > .MultiControls {
  display: none;
  border-top: 1px solid $color-thanos;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.13);
  border-radius: 0 0 $global-radius $global-radius;
}

.SumoSelect > .optWrapper.multiple.isFloating > .MultiControls {
  display: block;
  margin-top: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.SumoSelect > .optWrapper.multiple.okCancelInMulti > .MultiControls {
  display: block;
}

.SumoSelect > .optWrapper.multiple.okCancelInMulti > .MultiControls > p {
  padding: 6px;
}

.SumoSelect > .optWrapper.multiple > .MultiControls > p {
  display: inline-block;
  cursor: $cursor-pointer-value;
  padding: 12px;
  width: 50%;
  box-sizing: border-box;
  text-align: center;
}

.SumoSelect > .optWrapper.multiple > .MultiControls > p:hover {
  background-color: #f1f1f1;
}

.SumoSelect > .optWrapper.multiple > .MultiControls > p.btnOk {
  border-right: 1px solid $color-thanos;
  border-radius: 0 0 0 $global-radius;
  color: $color-cerebro;
  background: linear-gradient($color-whiplash, darken($color-whiplash, 15%));
}

.SumoSelect > .optWrapper.multiple > .MultiControls > p.btnCancel {
  border-radius: 0 0 $global-radius 0;
  color: $color-vision;
  background: linear-gradient($color-thor, darken($color-thor, 15%));
  border-color: $color-thanos;
}

/*styling for select on popup mode*/
.SumoSelect > .optWrapper.isFloating > .options > li {
  padding: 12px 6px;
}

/*styling for only multiple select on popup mode*/
.SumoSelect > .optWrapper.multiple.isFloating > .options > li {
  padding-left: 35px;
}

.SumoSelect > .optWrapper.multiple.isFloating {
  padding-bottom: 43px;
}

/*selected state
.SumoSelect > .optWrapper.multiple > .options > li.selected span i:after,
.SumoSelect .select-all.selected > span i:after{content: '';position: absolute;width: 11px;height: 11px;top: 2px;left: 2px;background-color: rgb(17, 169, 17);border-radius: 2px;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);}
*/
.SumoSelect > .optWrapper.multiple > .options > li.selected span i,
.SumoSelect .select-all.selected > span i,
.SumoSelect .select-all.partial > span i {
  background-color: $color-odin;
  box-shadow: none;
  border-color: transparent;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAGCAYAAAD+Bd/7AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAABMSURBVAiZfc0xDkAAFIPhd2Kr1WRjcAExuIgzGUTIZ/AkImjSofnbNBAfHvzAHjOKNzhiQ42IDFXCDivaaxAJd0xYshT3QqBxqnxeHvhunpu23xnmAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  background-position: center center;
}

/*disabled state*/
.SumoSelect.disabled {
  opacity: 0.7;
  cursor: $cursor-disabled-value;
}

.SumoSelect.disabled > .CaptionCont {
  border-color: $color-thanos;
  box-shadow: none;
}

/**Select all button**/
.SumoSelect .select-all {
  border-radius: $global-radius $global-radius 0 0;
  position: relative;
  border-bottom: 1px solid $color-thanos;
  background-color: #fff;
  padding: 8px 0 3px 35px;
  height: 30px;
  text-align: left;

  span {
    i {
      cursor: $cursor-pointer-value;
    }
  }

  &.partial {
    span {
      i {
        background-color: #ccc;
      }
    }
  }
}

/*styling for optgroups*/
.SumoSelect > .optWrapper > .options > li.optGroup {
  padding-left: 5px;
  text-decoration: underline;
}
