/* =============================================================================================
 - Table
 -----------------------------------------------------------------------------------------------
 -
 - @examples:
 -     <table></table>
 -     <table class="table-hover-led"></table>
 =============================================================================================== */
@import "~base/global";


/* Variables
 =========================================================================== */
$include-html-table-classes:              true !default;

/* Table Base
 --------------------------------------------- */
$table-display:                           table-cell !default;
$table-font-size:                         $h4-font-size !default;
$table-font-weight:                       300 !default;
$table-layout:                            auto !default;
$table-color:                             $color-vision !default;
$table-color-hover:                       $table-color !default;
$table-color-active:                      $table-color-hover !default;
$table-color-focus:                       $table-color-hover !default;
$table-bg:                                $color-hulk !default;
$table-bg-hover:                          $color-paleblue !default;
$table-bg-active:                         $color-blue !default;
$table-bg-modified:                       $color-mediumgray !default;
$table-bg-focus:                          $color-cyclops !default;
$table-border-collapse:                   separate !default;
$table-width:                             100% !default;
$table-max-width:                         100% !default;


/* Table Borders */
$table-border-color:                      transparent !default;
$table-border-style:                      none !default;
$table-border-width:                      0 !default;

$table-border-top-color:                  $table-border-color !default;
$table-border-top-style:                  $table-border-style !default;
$table-border-top-width:                  $table-border-width !default;

$table-border-right-color:                $table-border-color !default;
$table-border-right-style:                $table-border-style !default;
$table-border-right-width:                $table-border-width !default;

$table-border-bottom-color:               $table-border-color !default;
$table-border-bottom-style:               $table-border-style !default;
$table-border-bottom-width:               $table-border-width !default;

$table-border-left-color:                 $table-border-color !default;
$table-border-left-style:                 $table-border-style !default;
$table-border-left-width:                 $table-border-width !default;

$table-border-spacing:                    rem-calc(0 5) !default;

$table-margin-bottom:                     rem-calc(20) !default;


/* Header */
$thead-color:                             $table-color !default;
$thead-bg:                                $color-cerebro !default;
$thead-font-size:                         $table-font-size !default;
$thead-font-weight:                       $font-weight-bolder !default;
$thead-padding:                           rem-calc(8 10 10) !default;
$thead-text-transform:                    uppercase !default;


/* Footer */
$tfoot-bg:                                $thead-bg !default;
$tfoot-font-size:                         $thead-font-size !default;
$tfoot-font-color:                        $thead-color !default;
$tfoot-font-weight:                       $thead-font-weight !default;
$tfoot-padding:                           $thead-padding !default;

/* Captions */
$table-caption-bg:                        transparent !default;
$table-caption-color:                     $thead-color !default;
$table-caption-font-size:                 $table-font-size !default;
$table-caption-font-weight:               $table-font-weight !default;


/* Rows */
$table-row-bg-odd:                        $color-cerebro !default;
$table-row-bg-even:                       $color-cerebro !default;
$table-row-padding:                       rem-calc(0) !default;
$table-row-font-size:                     $table-font-size !default;
$table-row-font-color:                    $table-color !default;
$table-row-font-weight:                   $thead-font-weight !default;
$table-row-height:                        rem-calc(40) !default;
$table-line-height:                       rem-calc(16) !default;
$table-row-transition:                    all 0.3s ease;


/* Cells */
$table-cell-color:                        $table-color !default;
$table-cell-bg:                           transparent !default;
$table-cell-bg-hover:                     $color-thor !default;
$table-cell-padding:                      rem-calc(0) !default;
$table-cell-font-size:                    $table-font-size !default;
$table-cell-font-weight:                  $table-font-weight !default;
$table-cell-border-style:                 solid !default;
$table-cell-border-size:                  1px !default;
$table-cell-border-color:                 transparent !default;
$table-cell-border-radius:                0 !default;
$table-cell-box-shadow:                   1px 1px 2px rgba(0, 0, 0, 0.1) !default;
$table-cell-text-align:                   initial !default;
$table-cell-text-transform:               none !default;


$table-row-led-bg:                        5px solid  $color-wolverine !default;
$table-row-led-bg-hover:                  5px solid darken($table-bg-hover, $global-color-darken) !default;


/* Mixins
 =========================================================================== */
@mixin table-row-variant($state, $background) {
  @if ($state != 'partialActive') {
    thead tr,
    tbody tr,
    tfoot tr {
      td.#{$state},
      th.#{$state},
      &.#{$state} > td,
      &.#{$state} > th {
        background-color: $background;
      }
    }

    tbody tr {
      td.#{$state}:hover,
      th.#{$state}:hover,
      &.#{$state}:hover > td,
      &:hover > .#{$state},
      &.#{$state}:hover > th {
        background-color: $background;
      }
    }
  } @else {
    thead tr,
    tbody tr,
    tfoot tr {
      td.#{$state},
      th.#{$state},
      &.#{$state} > td ~ td.led-left,
      &.#{$state} > th ~ th.led-left {
        background-color: $table-cell-bg;
      }
    }
    thead tr,
    tbody tr,
    tfoot tr {
      td.#{$state},
      th.#{$state},
      &.#{$state} > td.led-left ~ td,
      &.#{$state} > th.led-left ~ th {
        background-color: $background;
      }
    }
    thead tr,
    tbody tr,
    tfoot tr {
      td.#{$state},
      th.#{$state},
      &.#{$state} > td.led-right ~ td,
      &.#{$state} > th.led-right ~ th {
        background-color: $table-cell-bg;
      }
    }

    tbody tr {
      td.#{$state}:hover,
      th.#{$state}:hover,
      &.#{$state}:hover > td ~ td.led-left,
      &:hover > .#{$state},
      &.#{$state}:hover > th ~ th.led-left {
        background-color: $table-cell-bg;
      }
    }
    tbody tr {
      td.#{$state}:hover,
      th.#{$state}:hover,
      &.#{$state}:hover > td.led-left ~ td,
      &:hover > .#{$state},
      &.#{$state}:hover > th.led-left ~ th {
        background-color: $background;
      }
    }
    tbody tr {
      td.#{$state}:hover,
      th.#{$state}:hover,
      &.#{$state}:hover > td.led-right ~ td,
      &:hover > .#{$state},
      &.#{$state}:hover > th.led-right ~ th {
        background-color: $table-cell-bg;
      }
    }
  }
}

@mixin table-row-led-variant($state, $background) {
  tbody tr {
    @if ($state != 'partialActive') {
      td:first-child.#{$state},
      &.#{$state} > td:first-child {
        border-left: rem-calc(5) solid darken($background, $global-color-darken);
      }

      td:last-child.#{$state},
      &.#{$state} > td:last-child {
        border-right: rem-calc(5) solid darken($background, $global-color-darken);
      }
    } @else {
      td.led-left.#{state},
      &.#{$state} > td.led-left {
        border-left: rem-calc(5) solid darken($background, $global-color-darken);
      }

      td.led-right.#{state},
      &.#{$state} > td.led-right {
        border-right: rem-calc(5) solid darken($background, $global-color-darken);
      }
    }
  }
}

@mixin table-row-hover-led-variant($state, $background) {
  tbody tr {
    @if ($state != 'partialActive') {
      td:first-child.#{$state}:hover,
      &.#{$state}:hover > td:first-child {
        border-left-color: darken($background, $global-color-darken);
      }

      td:last-child.#{$state}:hover,
      &.#{$state}:hover > td:last-child {
        border-right-color: darken($background, $global-color-darken);
      }
    } @else {
      td.led-left.#{state}:hover,
      &.#{$state}:hover > td.led-left {
        border-left-color: darken($background, $global-color-darken);
      }

      td.led-right.#{state}:hover,
      &.#{$state}:hover > td.led-right {
        border-right-color: darken($background, $global-color-darken);
      }
    }
  }
}

/* Table Base Class
 =========================================================================== */
@mixin table {
  color: $table-color;
  background: $table-bg;
  width: $table-width;
  max-width: $table-max-width;

  table-layout: $table-layout;
  border-spacing: $table-border-spacing;
  border-collapse: $table-border-collapse;

  border-width: $table-border-top-width $table-border-right-width $table-border-bottom-width $table-border-left-width;
  border-style: $table-border-top-style $table-border-right-style $table-border-bottom-style $table-border-left-style;
  border-color: $table-border-top-color $table-border-right-color $table-border-bottom-color $table-border-left-color;

  thead {
    tr {
      th {
        position: relative;
        height: rem-calc(10);
        line-height: rem-calc(10);
        font-weight: $thead-font-weight;

        &:hover {
            transition: $table-row-transition;
            background-color: $color-cable;
        }
      }
    }
  }

  tr {
    background-color: $table-row-bg-even;
    transition: $table-row-transition;

    th {
      color: $thead-color;
      background: $thead-bg;
      text-transform: $thead-text-transform;
      -webkit-user-select: none;

      font: {
        size: $thead-font-size;
        weight: $thead-font-weight;
      }

      padding: $thead-padding;

      span.sort {
        position: absolute;
        top: 2px;

        &.sortAsc {
          @include icon();

          font-size: $h2-font-size;

          &:after {
            content: $icon-sort-down;
          }
        }

        &.sortDesc {
          @include icon();

          font-size: $h2-font-size;

          &:after {
            content: $icon-sort-up;
          }
        }
      }
    }

    td {
      color: $table-cell-color;
      background: $table-cell-bg;
      box-shadow: $table-cell-box-shadow;
      vertical-align: middle;
      text-transform: $table-cell-text-transform;
      height: $table-row-height;
      width: auto;

      font: {
        size: $table-cell-font-size;
        weight: $table-cell-font-weight;
      }

      padding: $table-cell-padding;
    }

    &.deleted {
      td:not(.dispatchable-context) {
        text-decoration: line-through;
      }
    }

    &.even,
    &.alt,
    &:nth-of-type(even) {
      background: $table-row-bg-even;
    }
  }

  thead tr th,
  tfoot tr th,
  tfoot tr td,
  tbody tr th,
  tbody tr td {
    display: $table-display;
    cursor: default;
  }

  td, th {
    padding: rem-calc(10 0);
    border: 0;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}


/* Table Subclasses
 =========================================================================== */
@mixin table-hover {
  tbody {
    tr:hover {
      td {
        transition: $table-row-transition;
        background-color: $table-bg-hover;
      }
    }
  }

  /* Table Row Pseudo Effects
   --------------------------------------------- */
  @include table-row-variant('modified', $table-bg-modified);
  @include table-row-variant('active', $table-bg-active);
  @include table-row-variant('partialActive', $table-bg-active);
  @include table-row-variant('focus', $table-bg-focus);
}

@mixin table-led {
  tbody {
    tr {
      td:first-child {
        border-left: $table-row-led-bg;
      }

      td:last-child {
        border-right: $table-row-led-bg;
      }
    }
  }

  /* Table Row LED Pseudo Effects
  --------------------------------------------- */
  @include table-row-led-variant('modified', $table-bg-modified);
  @include table-row-led-variant('active', $table-bg-active);
  @include table-row-led-variant('partialActive', $table-bg-active);
  @include table-row-led-variant('focus', $table-bg-focus);
}

@mixin table-hover-led {
  @include table-led();
  @include table-hover();

  tbody {
    tr:hover {
      td:first-child {
        border-left-color: darken($table-bg-hover, $global-color-darken);
      }

      td:last-child {
        border-right-color: darken($table-bg-hover, $global-color-darken);
      }
    }
  }

  /* Table Row Hover LED Pseudo Effects
   --------------------------------------------- */
  @include table-row-hover-led-variant('modified', $table-bg-modified);
  @include table-row-hover-led-variant('active', $table-bg-active);
  @include table-row-hover-led-variant('partialActive', $table-bg-active);
  @include table-row-hover-led-variant('focus', $table-bg-focus);
}

/* Export Class Definitions
 =========================================================================== */
@include exports("table") {
  @if $include-html-table-classes {
    .table {
      @include table();
    }

    .table-hover {
      @include table-hover();
    }

    .table-led {
      @include table-led();
    }

    .table-hover-led {
      @include table-hover-led();
    }
  }
}
