$icon-alert: "\e900";
$icon-beginning-of-track: "\e901";
$icon-bell: "\e902";
$icon-blow-horn: "\e903";
$icon-boomarang-down: "\e904";
$icon-boomarang-dropdown: "\e905";
$icon-boomarang-left: "\e906";
$icon-boomarang-right: "\e908";
$icon-boomarang-up: "\e909";
$icon-carrot-left: "\e90a";
$icon-carrot-right: "\e90b";
$icon-chat-solid: "\e90c";
$icon-check: "\e90d";
$icon-chevron-down: "\e90e";
$icon-chevron-left: "\e90f";
$icon-chevron-right: "\e910";
$icon-chevron-up: "\e911";
$icon-close: "\e912";
$icon-contract_o: "\e913";
$icon-contract: "\e914";
$icon-dairy-logo: "\e915";
$icon-ellipsis: "\e916";
$icon-ellipsis2: "\e917";
$icon-end-of-track: "\e918";
$icon-external_o: "\e919";
$icon-external: "\e91a";
$icon-fast-forward: "\e91b";
$icon-internal_o: "\e91c";
$icon-internal: "\e91d";
$icon-large: "\e91e";
$icon-link2: "\e91f";
$icon-lock2: "\e920";
$icon-medium: "\e921";
$icon-milk-truck: "\e922";
$icon-milk: "\e923";
$icon-note-bubble: "\e924";
$icon-organize-active: "\e925";
$icon-organize-inactive: "\e926";
$icon-pause: "\e927";
$icon-pin: "\e928";
$icon-play: "\e929";
$icon-raw-milk: "\e92a";
$icon-rewind: "\e92b";
$icon-small: "\e92c";
$icon-sort-down: "\e92d";
$icon-sort-up: "\e92e";
$icon-stop: "\e937";
$icon-un-lock: "\e938";
$icon-unlocked: "\e990";
$icon-map: "\e94b";
$icon-printer: "\e954";
$icon-loop2: "\ea2e";
$icon-undo: "\e965";
$icon-redo: "\e966";
$icon-user-plus: "\e973";
$icon-user-minus: "\e974";
$icon-lock: "\e98f";
$icon-quill: "\e907";
$icon-folder: "\e92f";
$icon-folder-open: "\e930";
$icon-folder-plus: "\e931";
$icon-folder-minus: "\e932";
$icon-folder-download: "\e933";
$icon-folder-upload: "\e934";
$icon-price-tag: "\e935";
$icon-price-tags: "\e936";
$icon-coin-dollar: "\e93b";
$icon-coin-euro: "\e93c";
$icon-coin-pound: "\e93d";
$icon-coin-yen: "\e93e";
$icon-lifebuoy: "\e941";
$icon-address-book: "\e944";
$icon-location: "\e947";
$icon-location2: "\e948";
$icon-history: "\e94d";
$icon-clock: "\e94e";
$icon-alarm: "\e950";
$icon-stopwatch: "\e952";
$icon-calendar: "\e953";
$icon-drawer: "\e95c";
$icon-drawer2: "\e95d";
$icon-floppy-disk: "\e962";
$icon-drive: "\e963";
$icon-database: "\e964";
$icon-undo2: "\e967";
$icon-redo2: "\e968";
$icon-forward: "\e969";
$icon-reply: "\e96a";
$icon-bubbles2: "\e96d";
$icon-spinner3: "\e97c";
$icon-search: "\e986";
$icon-zoom-in: "\e987";
$icon-zoom-out: "\e988";
$icon-enlarge: "\e989";
$icon-shrink: "\e98a";
$icon-enlarge2: "\e98b";
$icon-shrink2: "\e98c";
$icon-key: "\e98d";
$icon-equalizer: "\e992";
$icon-equalizer2: "\e993";
$icon-cog: "\e994";
$icon-cogs: "\e995";
$icon-magic-wand: "\e997";
$icon-aid-kit: "\e998";
$icon-pie-chart: "\e99a";
$icon-stats-dots: "\e99b";
$icon-stats-bars: "\e99c";
$icon-stats-bars2: "\e99d";
$icon-meter: "\e9a6";
$icon-power: "\e9b5";
$icon-cloud: "\e9c1";
$icon-cloud-download: "\e9c2";
$icon-cloud-upload: "\e9c3";
$icon-cloud-check: "\e9c4";
$icon-earth: "\e9ca";
$icon-link: "\e9cb";
$icon-attachment: "\e9cd";
$icon-eye: "\e9ce";
$icon-eye-blocked: "\e9d1";
$icon-shocked: "\e9f1";
$icon-wondering: "\e9fb";
$icon-point-up: "\ea03";
$icon-point-right: "\ea04";
$icon-point-down: "\ea05";
$icon-point-left: "\ea06";
$icon-warning: "\ea07";
$icon-notification: "\ea08";
$icon-question: "\ea09";
$icon-plus: "\ea0a";
$icon-minus: "\ea0b";
$icon-cancel-circle: "\ea0d";
$icon-blocked: "\ea0e";
$icon-table: "\ea70";
