/* =============================================================================================
 -  Dispatcher
 -----------------------------------------------------------------------------------------------
 -
 =============================================================================================== */
@import "dispatchables";


/* Variables
 =========================================================================== */
$include-html-app-dispatcher-classes:     $include-html-classes !default;


/* Mixins
 =========================================================================== */
@mixin dispatchable-supply-panel {
  @include panel();
  @include dispatchables();
}

@mixin dispatchable-demand-panel {
  @include panel();
  @include dispatchables();
}

@mixin dispatchable-assignments-panel {
  @include panel();
  @include dispatchables();
}

/* Export Class Definitions
 =========================================================================== */
@include exports("dispatcher") {
  @if $include-html-app-dispatcher-classes {
    .dispatcher {
      
      .row {
        min-width:  rem-calc(1050);
      }
      
      .dispatchable-supply-panel {
        @include dispatchable-supply-panel();
      }

      .dispatchable-demand-panel {
        @include dispatchable-demand-panel();
      }

      .dispatchable-assignments-panel {
        @include dispatchable-assignments-panel();
      }
    }
  }
}
