/* =============================================================================================
 -  Dispatcher - Dispatchables
 -----------------------------------------------------------------------------------------------
 -  These items do not export HTML classes, for consumption only!
 =============================================================================================== */


/* Mixins
 =========================================================================== */
@mixin dispatchable-state-variant($state, $icon) {
  .#{"dispatchable-state-" + $state} {
    @include icon();

    position: relative;
    display: inline-block;
    line-height: rem-calc(38);
    font-size: $h3-font-size;
    padding: rem-calc(0 4);
    cursor: $cursor-default-value;

    &:before {
      content: $icon;
    }
  }
}

@mixin dispatchable-states() {
  @include dispatchable-state-variant("contract", $icon-blow-horn);
  @include dispatchable-state-variant("reserved", $icon-pin);
  @include dispatchable-state-variant("spot", $icon-bell);
}

@mixin dispatchable-type-variant($type, $icon, $color) {
  .#{"dispatchable-type-" + $type} {
    @include icon();
    
    &:before {
      color: $color;
      font-size: 1.3rem;
      content: $icon;
    }
  }
}

@mixin dispatchable-types() {
  @include dispatchable-type-variant("contract", $icon-contract, #ffd013);
  @include dispatchable-type-variant("internal", $icon-internal, #4db4d7);
  @include dispatchable-type-variant("external", $icon-external, #85e644);
}

@mixin dispatchable-context-menu() {
  .dispatchable-context-menu {
    @include icon();

    &:before {
      content: $icon-ellipsis;
    }
  }
}

@mixin dispatchable-link() {
  .dispatchable-link {
    @include icon();

    position: relative;
    display: inline-block;
    line-height: rem-calc(38);
    font-size: $h4-font-size;
    padding: rem-calc(0 4);
    cursor: $cursor-default-value;

    &:before {
      content: $icon-link;
    }
  }
}

@mixin dispatchable-details() {
  .dispatchable-details {
    @include icon();

    position: relative;
    display: inline-block;
    line-height: rem-calc(38);
    font-size: $h4-font-size;
    padding: rem-calc(0 6);
    cursor: $cursor-default-value;

    &:before {
      content: $icon-raw-milk;
    }
  }
}

@mixin dispatchable-note() {
  .dispatchable-note {
    @include icon();

    position: relative;
    display: inline-block;
    line-height: rem-calc(38);
    font-size: $h4-font-size;
    padding: rem-calc(0 6);
    cursor: $cursor-default-value;

    &:before {
      content: $icon-note-bubble;
    }
  }
}

@mixin dispatchable-context() {
  thead {
    th.dispatchable-context {
      width: rem-calc(44);
    }
  }

  tbody {
    tr {
      td.dispatchable-context {
        color: transparent;
        font-size: $h3-font-size;
        cursor: $cursor-pointer-value;

        i {
          position: relative;
          height: rem-calc(38);
          width: rem-calc(38);
          line-height: rem-calc(38);
        }
      }

      &:hover {
        td.dispatchable-context {
          i {
            color: $color-vision;
            padding: 6px;
            background: $color-cerebro;
            border-width: 1px;
            border-style: solid;
            border-color: $color-thanos;
            border-radius: $global-radius;
          }
        }
      }
    }
  }
}

@mixin dispatchable-state() {
  thead {
    th.dispatchable-state {
      width: rem-calc(25);
    }
  }

  tbody {
    td.dispatchable-state {
      font-size: $h3-font-size;
      cursor: $cursor-default-value;

      i {
        position: relative;
        display: inline-block;
        line-height: rem-calc(38);
      }
    }
  }
}

@mixin dispatchable-type() {
  thead {
    th.dispatchable-type {
      width: rem-calc(25);
    }
  }

  tbody {
    td.dispatchable-type {
      font-size: $h2-font-size;
      cursor: $cursor-default-value;

      i {
        position: relative;
        display: inline-block;
        line-height: rem-calc(38);
      }
    }
  }
}

@mixin dispatchables() {
  .dispatchables {
    @include table();
    @include table-hover-led();

    @include dispatchable-context();
    @include dispatchable-state();
    @include dispatchable-type();

    tbody {
      @include dispatchable-link();
      @include dispatchable-context-menu();
      @include dispatchable-details();
      @include dispatchable-note();
      @include dispatchable-states();
      @include dispatchable-types();
    }
  }
}
