<div id="shell-header" class="shell-header" data-bind="with: $root.headerViewModel">
  <div class="shell-header-masthead"></div>

  <div class="shell-header-nav" data-bind="with: navViewModel">
    <div class="shell-header-nav-primary">
      <ul style="margin: auto; height: 40px; text-align: center;">
        <!-- ko foreach: navItems -->
        <li style="display: inline; height: 40px; line-height: 40px">
          <a href="#" data-bind="click: $parent.selectNavItem, text: name"></a>
        </li>
        <!-- /ko -->
      </ul>
    </div>

    <div class="shell-header-nav-secondary">
      <ul data-bind="foreach: activeNavItem().subNavItems" style="margin: auto; height: 40px; text-align: center;">
        <li style="display: inline; height: 40px; line-height: 40px">
          <a href="#" data-bind="text: name"></a>
        </li>
      </ul>
    </div>
  </div>
</div>
