 /* =============================================================================================
 -  Colors
 -----------------------------------------------------------------------------------------------
 -  Color palette used throughout the framework.
 =============================================================================================== */


/* Variables
 =========================================================================== */
$include-html-color-classes:              $include-html-classes !default;

$color-cyclops:                           #eff6ff;
$color-azazel:                            #f3f3f3;
$color-storm:                             #afafaf;
$color-thor:                              #d9d9d9;
$color-heimdall:                          #93b7eb;
$color-hulk:                              #f4f4f4;
$color-ultron:                            #ff725f;
$color-loki:                              #e4f0fe;
$color-thanos:                            #dfdfdf;
$color-vision:                            #000000;
$color-cerebro:                           #ffffff;
$color-cable:                             #b7b7b7;
$color-blade:                             #82a1cf;
$color-falcon:                            #ffffcd;
$color-kingpin:                           #ffd972;
$color-venom:                             #88a6d4;
$color-whiplash:                          #7fb2ff;
$color-ultron:                            #ff725f;
$color-jarvis:                            #77ddff;
$color-odin:                              #74dc83;
$color-rogue:                             #ffdb6c;
$color-rogue-light:                       #ffef97;
$color-riptide:                           #b2cbf1;
$color-wolverine:                         #e7e7e7;
$color-hawkeye:                           #ffffcc;
$color-deadpool:                          #4db4d7;
$color-shaw:                              #9d9d9d;
$color-mystique:                          #e5f0ff;

/* Dark Skin
 =========================================================================== */

$color-lightgray:                        #f1f1f1;
$color-slate:                            #343434;
$color-alsoSlate:                        #353535;
$color-dark:                             #262626;
$color-alsodark:                         #313131;
$color-darkgray:                         #4f4f4f;
$color-alsodarkgray:                     #5d5d5d;
$color-gold:                             #feffaf;
$color-gray:                             #4d4d4d;
$color-dovegray:                         #717171;
$color-blue:                             #b2cbf1;
$color-paleblue:                         #d0def2;
$color-mediumgray:                       #e9e9e9;
