/* =============================================================================================
 - Fonts
 -----------------------------------------------------------------------------------------------
 -
 =============================================================================================== */


/* Variables
 =========================================================================== */
$font-path:                               "~fonts/SourceSansPro/" !default;
$font-name:                               "SourceSansPro" !default;


/* Load'Em Up!
 =========================================================================== */
@at-root {
  @font-face {
    font-family: "SourceSansPro";
    src: url("#{$font-path}#{$font-name}-Black.otf");
    font-weight: 900
  }

  @font-face {
    font-family: "SourceSansPro";
    src: url("#{$font-path}#{$font-name}-BlackIt.otf");
    font-style: italic;
    font-weight: 900
  }

  @font-face {
    font-family: "SourceSansPro";
    src: url("#{$font-path}#{$font-name}-Bold.otf");
    font-weight: 700;
  }

  @font-face {
    font-family: "SourceSansPro";
    src: url("#{$font-path}#{$font-name}-BoldIt.otf");
    font-style: italic;
    font-weight: 700;
  }

  @font-face {
    font-family: "SourceSansPro";
    src: url("#{$font-path}#{$font-name}-ExtraLight.otf");
    font-weight: 200;
  }

  @font-face {
    font-family: "SourceSansPro";
    src: url("#{$font-path}#{$font-name}-ExtraLightIt.otf");
    font-style: italic;
    font-weight: 200;
  }

  @font-face {
    font-family: "SourceSansPro";
    src: url("#{$font-path}#{$font-name}-It.otf");
    font-style: italic;
    font-weight: 400;
  }

  @font-face {
    font-family: "SourceSansPro";
    src: url("#{$font-path}#{$font-name}-Light.otf");
    font-weight: 300;
  }

  @font-face {
    font-family: "SourceSansPro";
    src: url("#{$font-path}#{$font-name}-LightIt.otf");
    font-style: italic;
    font-weight: 300;
  }

  @font-face {
    font-family: "SourceSansPro";
    src: url("#{$font-path}#{$font-name}-Regular.otf");
    font-weight: 400;
  }

  @font-face {
    font-family: "SourceSansPro";
    src: url("#{$font-path}#{$font-name}-Semibold.otf");
    font-weight: 600;
  }

  @font-face {
    font-family: "SourceSansPro";
    src: url("#{$font-path}#{$font-name}-SemiboldIt.otf");
    font-style: italic;
    font-weight: 600;
  }
}
