/* =============================================================================================
 - Icons
 -----------------------------------------------------------------------------------------------
 - Since icons are fonts, they can be placed anywhere text can be placed and
 - they can also be styled in the same way that text can be styled.
 -
 - @examples:
 -     <a href="#"><span class="icon icon-milk"></span>Milk</a>
 -     <a href="#"><i class="icon icon-milk"></i>Milk</a>
 =============================================================================================== */
@import "~fonts/IcoMoon/variables";


/* Variables
 =========================================================================== */
$include-html-icon-classes:               $include-html-classes !default;

$icon-font-path:                          "~fonts/IcoMoon/" !default;
$icon-font-name:                          "icomoon" !default;
$icon-font-svg-id:                        "icomoon" !default;


/* Load'Em Up!
 =========================================================================== */
@at-root {
  @font-face {
    font-family: 'Venus-Icons';
    src: url('#{$icon-font-path}#{$icon-font-name}.eot');
    src: url('#{$icon-font-path}#{$icon-font-name}.eot?#iefix') format('embedded-opentype'),
         url('#{$icon-font-path}#{$icon-font-name}.woff') format('woff'),
         url('#{$icon-font-path}#{$icon-font-name}.ttf') format('truetype'),
         url('#{$icon-font-path}#{$icon-font-name}.svg##{$icon-font-svg-id}') format('svg');
  }
}


/* Mixins
 =========================================================================== */
@mixin icon() {
  font-family: 'Venus-Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Export Class Definitions
 =========================================================================== */
@include exports("icon") {
  @if $include-html-icon-classes {
    .icon {
      @include icon();
    }

    /* Subclasses */
    .icon-alert:before {
        content: "\e900";
    }
    .icon-beginning-of-track:before {
        content: "\e901";
    }
    .icon-bell:before {
        content: "\e902";
    }
    .icon-blow-horn:before {
        content: "\e903";
    }
    .icon-boomarang-down:before {
        content: "\e904";
    }
    .icon-boomarang-dropdown:before {
        content: "\e905";
    }
    .icon-boomarang-left:before {
        content: "\e906";
    }
    .icon-boomarang-right:before {
        content: "\e908";
    }
    .icon-boomarang-up:before {
        content: "\e909";
    }
    .icon-carrot-left:before {
        content: "\e90a";
    }
    .icon-carrot-right:before {
        content: "\e90b";
    }
    .icon-chat-solid:before {
        content: "\e90c";
    }
    .icon-check:before {
        content: "\e90d";
    }
    .icon-chevron-down:before {
        content: "\e90e";
    }
    .icon-chevron-left:before {
        content: "\e90f";
    }
    .icon-chevron-right:before {
        content: "\e910";
    }
    .icon-chevron-up:before {
        content: "\e911";
    }
    .icon-close:before {
        content: "\e912";
    }
    .icon-contract_o:before {
        content: "\e913";
    }
    .icon-contract:before {
        content: "\e914";
    }
    .icon-dairy-logo:before {
        content: "\e915";
    }
    .icon-ellipsis:before {
        content: "\e916";
    }
    .icon-ellipsis2:before {
        content: "\e917";
    }
    .icon-end-of-track:before {
        content: "\e918";
    }
    .icon-external_o:before {
        content: "\e919";
    }
    .icon-external:before {
        content: "\e91a";
    }
    .icon-fast-forward:before {
        content: "\e91b";
    }
    .icon-internal_o:before {
        content: "\e91c";
    }
    .icon-internal:before {
        content: "\e91d";
    }
    .icon-large:before {
        content: "\e91e";
    }
    .icon-link2:before {
        content: "\e91f";
    }
    .icon-lock2:before {
        content: "\e920";
    }
    .icon-medium:before {
        content: "\e921";
    }
    .icon-milk-truck:before {
        content: "\e922";
    }
    .icon-milk:before {
        content: "\e923";
    }
    .icon-note-bubble:before {
        content: "\e924";
    }
    .icon-organize-active:before {
        content: "\e925";
    }
    .icon-organize-inactive:before {
        content: "\e926";
    }
    .icon-pause:before {
        content: "\e927";
    }
    .icon-pin:before {
        content: "\e928";
    }
    .icon-play:before {
        content: "\e929";
    }
    .icon-raw-milk:before {
        content: "\e92a";
    }
    .icon-rewind:before {
        content: "\e92b";
    }
    .icon-small:before {
        content: "\e92c";
    }
    .icon-sort-down:before {
        content: "\e92d";
    }
    .icon-sort-up:before {
        content: "\e92e";
    }
    .icon-stop:before {
        content: "\e937";
    }
    .icon-un-lock:before {
        content: "\e938";
    }
    .icon-unlocked:before {
        content: "\e990";
    }
    .icon-map:before {
        content: "\e94b";
    }
    .icon-printer:before {
        content: "\e954";
    }
    .icon-loop2:before {
        content: "\ea2e";
    }
    .icon-undo:before {
        content: "\e965";
    }
    .icon-redo:before {
        content: "\e966";
    }
    .icon-user-plus:before {
        content: "\e973";
    }
    .icon-user-minus:before {
        content: "\e974";
    }
    .icon-lock:before {
        content: "\e98f";
    }
    .icon-quill:before {
        content: "\e907";
    }
    .icon-folder:before {
        content: "\e92f";
    }
    .icon-folder-open:before {
        content: "\e930";
    }
    .icon-folder-plus:before {
        content: "\e931";
    }
    .icon-folder-minus:before {
        content: "\e932";
    }
    .icon-folder-download:before {
        content: "\e933";
    }
    .icon-folder-upload:before {
        content: "\e934";
    }
    .icon-price-tag:before {
        content: "\e935";
    }
    .icon-price-tags:before {
        content: "\e936";
    }
    .icon-coin-dollar:before {
        content: "\e93b";
    }
    .icon-coin-euro:before {
        content: "\e93c";
    }
    .icon-coin-pound:before {
        content: "\e93d";
    }
    .icon-coin-yen:before {
        content: "\e93e";
    }
    .icon-lifebuoy:before {
        content: "\e941";
    }
    .icon-address-book:before {
        content: "\e944";
    }
    .icon-location:before {
        content: "\e947";
    }
    .icon-location2:before {
        content: "\e948";
    }
    .icon-history:before {
        content: "\e94d";
    }
    .icon-clock:before {
        content: "\e94e";
    }
    .icon-alarm:before {
        content: "\e950";
    }
    .icon-stopwatch:before {
        content: "\e952";
    }
    .icon-calendar:before {
        content: "\e953";
    }
    .icon-drawer:before {
        content: "\e95c";
    }
    .icon-drawer2:before {
        content: "\e95d";
    }
    .icon-floppy-disk:before {
        content: "\e962";
    }
    .icon-drive:before {
        content: "\e963";
    }
    .icon-database:before {
        content: "\e964";
    }
    .icon-undo2:before {
        content: "\e967";
    }
    .icon-redo2:before {
        content: "\e968";
    }
    .icon-forward:before {
        content: "\e969";
    }
    .icon-reply:before {
        content: "\e96a";
    }
    .icon-bubbles2:before {
        content: "\e96d";
    }
    .icon-spinner3:before {
        content: "\e97c";
    }
    .icon-search:before {
        content: "\e986";
    }
    .icon-zoom-in:before {
        content: "\e987";
    }
    .icon-zoom-out:before {
        content: "\e988";
    }
    .icon-enlarge:before {
        content: "\e989";
    }
    .icon-shrink:before {
        content: "\e98a";
    }
    .icon-enlarge2:before {
        content: "\e98b";
    }
    .icon-shrink2:before {
        content: "\e98c";
    }
    .icon-key:before {
        content: "\e98d";
    }
    .icon-equalizer:before {
        content: "\e992";
    }
    .icon-equalizer2:before {
        content: "\e993";
    }
    .icon-cog:before {
        content: "\e994";
    }
    .icon-cogs:before {
        content: "\e995";
    }
    .icon-magic-wand:before {
        content: "\e997";
    }
    .icon-aid-kit:before {
        content: "\e998";
    }
    .icon-pie-chart:before {
        content: "\e99a";
    }
    .icon-stats-dots:before {
        content: "\e99b";
    }
    .icon-stats-bars:before {
        content: "\e99c";
    }
    .icon-stats-bars2:before {
        content: "\e99d";
    }
    .icon-meter:before {
        content: "\e9a6";
    }
    .icon-power:before {
        content: "\e9b5";
    }
    .icon-cloud:before {
        content: "\e9c1";
    }
    .icon-cloud-download:before {
        content: "\e9c2";
    }
    .icon-cloud-upload:before {
        content: "\e9c3";
    }
    .icon-cloud-check:before {
        content: "\e9c4";
    }
    .icon-earth:before {
        content: "\e9ca";
    }
    .icon-link:before {
        content: "\e9cb";
    }
    .icon-attachment:before {
        content: "\e9cd";
    }
    .icon-eye:before {
        content: "\e9ce";
    }
    .icon-eye-blocked:before {
        content: "\e9d1";
    }
    .icon-shocked:before {
        content: "\e9f1";
    }
    .icon-wondering:before {
        content: "\e9fb";
    }
    .icon-point-up:before {
        content: "\ea03";
    }
    .icon-point-right:before {
        content: "\ea04";
    }
    .icon-point-down:before {
        content: "\ea05";
    }
    .icon-point-left:before {
        content: "\ea06";
    }
    .icon-warning:before {
        content: "\ea07";
    }
    .icon-notification:before {
        content: "\ea08";
    }
    .icon-question:before {
        content: "\ea09";
    }
    .icon-plus:before {
        content: "\ea0a";
    }
    .icon-minus:before {
        content: "\ea0b";
    }
    .icon-cancel-circle:before {
        content: "\ea0d";
    }
    .icon-blocked:before {
        content: "\ea0e";
    }
    .icon-table:before {
        content: "\ea70";
    }
  }
}
