/* =============================================================================================
 - Indicators
 -----------------------------------------------------------------------------------------------
 -
 =============================================================================================== */

/* Variables
 =========================================================================== */
$include-html-indicator-classes:          true !default;

$pulse-width:                             100% !default;
$pulse-height:                            100% !default;
$pulse-duration:                          infinite !default;
$pulse-interval:                          5s !default;
$pulse-altered-color:                     $color-thor !default;
$pulse-altered-alt-color:                 $color-shaw !default;
$pulse-altered-selected-color:            $color-heimdall !default;
$pulse-altered-selected-alt-color:        $color-mystique !default;


/* Mixins
 =========================================================================== */


/* Keyframes
 =========================================================================== */
@keyframes pulse-led-altered-left {
  0% {
    border-left-color: $pulse-altered-color;
  }
  50% {
    border-left-color: $pulse-altered-alt-color;
  }
  100% {
    border-left-color: $pulse-altered-color;
  }
}

@keyframes pulse-led-altered-right {
  0% {
    border-right-color: $pulse-altered-color;
  }
  50% {
    border-right-color: $pulse-altered-alt-color;
  }
  100% {
    border-right-color: $pulse-altered-color;
  }
}

@keyframes pulse-led-selected-left {
  0% {
    border-left-color: $pulse-altered-selected-color;
  }
  50% {
    border-left-color: $pulse-altered-selected-alt-color;
  }
  100% {
    border-left-color: $pulse-altered-selected-color;
  }
}

@keyframes pulse-led-selected-right {
  0% {
    border-right-color: $pulse-altered-selected-color;
  }
  50% {
    border-right-color: $pulse-altered-selected-alt-color;
  }
  100% {
    border-right-color: $pulse-altered-selected-color;
  }
}


/* Export Class Definitions
 =========================================================================== */
@include exports("indicators") {
  @if $include-html-indicator-classes {
    .pulse-led {
      width: $pulse-width;
      height: $pulse-height;
    }

    .pulse-led-altered-left {
      animation: pulse-led-altered-left $pulse-interval $pulse-duration;
    }

    .pulse-led-altered-right{
      animation: pulse-led-altered-right $pulse-interval $pulse-duration;
    }

    .pulse-led-selected-left {
      animation: pulse-led-selected-left $pulse-interval $pulse-duration;
    }

    .pulse-led-selected-right {
      animation: pulse-led-selected-right $pulse-interval $pulse-duration;
    }
  }
}
