/* =============================================================================================
 - Z-Index Map - Layer/Stack Definitions
 -----------------------------------------------------------------------------------------------
 - Map definitions for z-index stack layers.
 =============================================================================================== */

$zindex: (
  shell: (
      main:     100,
      header:   200,
      growler:  300,
      overlay:  800,
      modal:    2000
  )
);
