/* =============================================================================================
 - Shell Modal
 -----------------------------------------------------------------------------------------------
 -
 =============================================================================================== */
@import "~base/global";


/* Variables
 =========================================================================== */
$sm-color:                                $body-font-color !default;
$sm-bg:                                   $body-bg !default;
$sm-height:                               auto !default;
$sm-width:                                rem-calc(320) !default;
$sm-line-height:                          rem-calc(40) !default;
$sm-border-width:                         1px !default;
$sm-border-style:                         solid !default;
$sm-border-color:                         transparent transparent $color-thanos !default;

/* Buttons
 ----------------------------------- */
$sm-btn-font-family:                      $button-font-family !default;
$sm-btn-size:                             $button-sml !default;
$sm-btn-font-weight:                      $font-weight-bolder !default;
$sm-btn-height:                           rem-calc(40) !default;
$sm-btn-grp-line-height:                  rem-calc(36) !default;
$sm-btn-margin:                           rem-calc(0) !default;
$sm-btn-padding:                          rem-calc(2 24) !default;
$sm-btn-text-transform:                   capitalize !default;

$sm-pri-btn-color:                        $color-cerebro !default;
$sm-pri-btn-color-alt:                    $sm-pri-btn-color !default;
$sm-pri-btn-bg:                           $color-whiplash !default;
$sm-pri-btn-bg-hover:                     darken($sm-pri-btn-bg, 5%) !default;
$sm-pri-btn-border-color:                 $color-cerebro !default;

$sm-sec-btn-color:                        $color-vision !default;
$sm-sec-btn-color-alt:                    $sm-sec-btn-color !default;
$sm-sec-btn-bg:                           $color-thor !default;
$sm-sec-btn-bg-hover:                     darken($sm-sec-btn-bg, 5%) !default;
$sm-sec-btn-border-color:                 $color-cerebro !default;

/* Datepicker
 ----------------------------------- */
$sh-modal-btn-font-family:               $button-font-family !default;
$sh-modal-btn-color:                     $sm-color !default;
$sh-modal-btn-color-hover:               $sh-modal-btn-color !default;
$sh-modal-btn-bg:                        $color-cerebro !default;
$sh-modal-btn-bg-hover:                  $color-lightgray !default;
$sh-modal-btn-border-color:              $color-lightgray !default;
$sh-modal-btn-size:                      $button-tny !default;
$sh-modal-btn-font-weight:               $font-weight-bolder !default;
$sh-modal-btn-height:                    rem-calc(26) !default;
$sh-modal-btn-margin:                    rem-calc(0) !default;
$sh-modal-btn-padding:                   rem-calc(7 15) !default;
$sh-modal-btn-text-transform:            capitalize !default;


.shell-modal {
  position: absolute;
  top: 50% !important;
  left: 50%;
  display: block;
  height: $sm-height;
  width: $sm-width;
  margin: rem-calc(-152);
  background: $sm-bg;
  text-align: center;
  z-index: map-deep-get($zindex, "shell", "modal");

  * {
    user-select: none;
  }

  .sm-btn-grp {
    @include button-group-container();

    height: $sm-btn-height;
    line-height: $sm-btn-grp-line-height;
  }

  .sm-alert-icon {
    &:before {
      @extend .icon;
      @extend .icon-alert;

      font-size: $h1-font-size;
      color: $alert-color;
    }
  }

  .sm-primary-btn {
    @include button();
    @include button-size($padding: $sm-btn-size);
    @include button-style-ext($bg: $sm-pri-btn-bg, $bg-hover: $sm-pri-btn-bg-hover, $gradient: true, $border-color: $sm-pri-btn-border-color);

    height: $sm-btn-height;
    margin: $sm-btn-margin;
    padding: $sm-btn-padding;
    text-decoration: none;
    text-transform: $sm-btn-text-transform;
    border-radius: $global-radius;
    font-size: $h4-font-size;
    color: $sm-pri-btn-color;
    line-height: $sm-btn-grp-line-height;
  }

  .sm-secondary-btn {
    @include button();
    @include button-size($padding: $sm-btn-size);
    @include button-style-ext($bg: $sm-sec-btn-bg, $bg-hover: $sm-sec-btn-bg-hover, $gradient: true, $border-color: $sm-sec-btn-border-color);

    height: $sm-btn-height;
    margin: $sm-btn-margin;
    padding: $sm-btn-padding;
    text-decoration: none;
    text-transform: $sm-btn-text-transform;
    border-radius: $global-radius;
    font-size: $h4-font-size;
    color: $sm-sec-btn-color;
    line-height: $sm-btn-grp-line-height;
  }

  .sm-message {
    font-size: $h4-font-size;
  }

  .sh-modal-text {
    font-size: $h4-font-size;
    padding: 5;
  }

// Datepicker
  .sh-modal-datepicker {
      @include button();
      @include button-size($padding: $sh-modal-btn-size);
      @include button-style-ext($color: $sh-modal-btn-color, $color-hover: $sh-modal-btn-color, $bg: $sh-modal-btn-bg, $bg-hover: $sh-modal-btn-bg-hover, $radius: $button-radius, $gradient: true, $border-color: $sh-modal-btn-border-color);

      height: $sh-modal-btn-height;

      color: $color-vision;
      margin: rem-calc(-2);
      padding: $sh-modal-btn-padding;
      font-size: $h4-font-size;
      text-decoration: none;
      text-transform: $sh-modal-btn-text-transform;
      box-shadow: 0px 1px $color-lightgray;


      width: rem-calc(100);
      text-align: center;

      &.sh-modal-dp-date {
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        +span {
          @include icon();

          display: block;
          position: absolute;
          top: rem-calc(14);
          left: rem-calc(96);
          font-size: $h3-font-size;
          margin-left: 6px;
          color: $color-lightgray;
          font-weight: $font-weight-bolder;
          z-index: 1;

          &:after {
            content: $icon-small;
          }
        }
      }
  }

  ul {
    color: $sm-color;
    margin: 0;
    padding: 0;
    line-height: 2.6em;
    list-style: none;
    text-align: left;
    font-size: $h4-font-size;
  }

  .errorMessages{
    color: $alert-color;
    line-height: 1.0em;
    text-align: left;
  }

  .label {
    text-align: left;
    line-height: 1.0em;
    padding-top: 1.0em;
  }

  .SlectBox {
      width: rem-calc(240);
      text-align: left;
  }
}