/* =============================================================================================
 -  Shell
 -----------------------------------------------------------------------------------------------
 -
 =============================================================================================== */
@import "header/shell-header";
@import "shell-modal";


/* Variables
 =========================================================================== */
$shell-bg:                                url("~images/triangles.png") repeat;
$shell-overlay-spinner-offset:            187;
$shell-overlay-spinner-duration:          1.4s;
$shell-overlay-spinner-color:             $color-rogue;


/* Mixins
 =========================================================================== */
#shell {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  background: $shell-bg;

  @include shell-header();
  .shell-main {
    height: 100%;
    min-width: rem-calc(1050);
    top: rem-calc(80);
    right: 0;
    bottom: 0;
    left: 0;
    background: $shell-bg;
    z-index: map-deep-get($zindex, "shell", "main");
    .shell-main-container {
      @include grid-row(nest-collapse);
      position: relative;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: rem-calc(15 15 0 0);
      font-family: $body-font-family;
    }

  }

  //TODO: Move this to _grid.scss
  .row .columns {
    padding-left: ($column-gutter / 2);
    padding-right: 0;
  }

  //.row .columns:last-child
  //{
  //  padding-right: ($column-gutter / 2);
  //}

  .row + .row {
    padding-top: ($column-gutter / 2);
  }


  //END: Move this to _grid.scss

  .shell-overlay {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba($color-alsodark, 0.7);
    z-index: map-deep-get($zindex, "shell", "overlay");
  }

  @keyframes rotator {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(270deg); }
  }

  @keyframes dash {
    0% {
      stroke-dashoffset: $shell-overlay-spinner-offset;
    }
    50% {
      stroke-dashoffset: $shell-overlay-spinner-offset / 4;
      transform: rotate(135deg);
    }
    100% {
      stroke-dashoffset: $shell-overlay-spinner-offset;
      transform: rotate(450deg);
    }
  }

  .shell-overlay-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin: -35px 0 0 -35px;

    svg {
      animation: rotator $shell-overlay-spinner-duration linear infinite;

      circle {
        stroke: $shell-overlay-spinner-color;
        stroke-dasharray: $shell-overlay-spinner-offset;
        stroke-dashoffset: 0;
        transform-origin: center;
        animation: dash $shell-overlay-spinner-duration ease-in-out infinite;
      }
    }
  }
}
